node_modules
components.md
README.md
md_img


pass.txt

*.xlsx

Dockerfile
.dockerignore
npm-debug.log
README.md
.next
docker
.git
copilot/*/addons/*
copilot/*/overrides/*
copilot/resources/*
copilot/*.yml

.npmrc