.spacer {
  display: block;
  width: 100%;
  height: 10px;
}
.data-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data-field .product {
  margin: 0.3rem 0;
}

.data-field .product .code {
  font-size: 0.5rem;
}

.data-field .product .count {
  font-size: 0.6rem;
  margin-left: 1rem;
}

.data-field .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.data-field .row.signature p {
  font-weight: bold;
  font-size: 0.6rem;
}

.data-field .row.signature {
  justify-content: flex-end;
}

.data-field .row.center {
  justify-content: center;
}

.data-field .row p {
  font-size: 0.7em;
}

.data-field .title p {
  font-size: 0.8rem;
}

.data-field p.bold {
  font-weight: bold;
}

.description-field p {
  font-size: 0.7em;
}

.description-field p.title {
  font-size: 0.8rem;
}

p {
  margin: 0;
}

hr {
  width: 100%;
  margin: 0.3rem 0;
  border: none;
  border-top: dashed 1px;
}

hr.line {
  border-style: solid;
  border-width: 0.5px;
}

.wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-size: 15px;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 60%;
}

.thanks-field {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.thanks-field p {
  font-size: 0.8rem;
}

.app-field {
  display: grid;
  grid-template-columns: 1fr 60px 60px;
  gap: 0.7rem;
  align-items: center;
}

.app-field .download {
  font-size: 0.6rem;
}

.app-field .app-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-field .app-qr img {
  width: 100%;
}

.app-field .app-qr p {
  font-size: 0.6rem;
}

/* 以下、領収書用 */
.ryoshuWrapper {
  width: 800px;
  rotate: 90deg;
  translate: -250px 250px;
  margin-right: 50px;
}
.ryoshuWrapper p {
  margin: 0.2rem;
  font-size: 0.9rem;
  line-height: 20px;
}
.ryoshuWrapper p.underline {
  text-decoration: underline;
}
.ryoshuWrapper p.price {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.ryoshuWrapper p.title {
  font-size: 1.3rem;
  font-weight: bold;
}
.ryoshuWrapper p.shirushi {
  font-size: 1.2rem;
}
.ryoshuWrapper .row {
  display: flex;
}
.ryoshuWrapper .row.center {
  justify-content: center;
}
.ryoshuWrapper .row.start {
  justify-content: flex-start;
}
.ryoshuWrapper .row.end {
  justify-content: flex-end;
}
.ryoshuWrapper .footerWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.ryoshuWrapper .footerWrapper .footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
