{
  "openapi": "3.1.0",
  "info": {
    "title": "PGマルチペイメントサービス OpenAPIタイプ",
    "version": "1.6.2",
    "x-logo": {
      "url": "https://static.mul-pay.jp/k01/mulpayconsole/bundles/gmopggpconsole/images/logo_on.png",
      "altText": "GMO-PG logo"
    }
  },
  "servers": [
    {
      "url": "https://openapi.mul-pay.jp",
      "description": "PGマルチペイメントサービス OpenAPIタイプ 本番環境"
    },
    {
      "url": "https://stg.openapi.mul-pay.jp",
      "description": "PGマルチペイメントサービス OpenAPIタイプ テスト環境"
    }
  ],
  "security": [
    {
      "Password": []
    },
    {
      "AccessToken": [
        "openapi"
      ]
    }
  ],
  "tags": [
    {
      "name": "intro",
      "x-displayName": "はじめに",
      "description": "INTRODUCTIONセクションは、OpenAPIタイプを初めて扱うシステム担当者の方、開発者の方に向けたドキュメントです。  \nOpenAPIタイプの全体像、実現できる決済処理、導入までの流れやテストについて説明します。  \nまた、従来の接続方式であるプロトコル/モジュールタイプをご利用の加盟店様が、OpenAPIタイプに移行する場合に考慮すべき事項についても説明しています。  \nプロトコルタイプの仕様は[マルペイDocs](https://docs.mul-pay.jp)<sup>※</sup>を参照ください。  \n<small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>\n<br>\n"
    },
    {
      "name": "glossary",
      "x-displayName": "OpenAPIタイプ用語集",
      "description": "<br>\n\n|用語|説明|\n| :--- | :--- |\n|加盟店様|PGマルチペイメントサービスを利用する貴社を指します。|\n|お客様|加盟店様からサービス・物品の提供を受ける、最終利用者を指します。|\n|支払いタイプ|OpenAPIタイプでは、決済手段を支払いの特徴ごとに3つの支払いタイプに<br>分類しています。APIは支払いタイプごとに集約された構成になっています。|\n|Webhook|一部の支払いタイプにおいて、取引状態に更新があった際に、加盟店様に<br>HTTPプロトコルを使用して通知する仕組みです。|\n\n<br>\n"
    },
    {
      "name": "features",
      "x-displayName": "OpenAPIタイプの特徴",
      "description": "OpenAPIタイプは、簡単かつ安全に利⽤いただくことを⽬指し、RFCやOpenAPI SpecificationなどのWeb標準に従っています。  \n加えて、決済手段の追加や不正利用への対応を柔軟に行えるよう最適化されています。  \n具体的な技術的特徴は以下の通りです。より詳細な仕様は[GET STARTEDセクション](#tag/connected)を参照ください。  \n\n- **[OpenAPI Specification(OAS)](https://spec.openapis.org/)に準拠**  \n  [OpenAPI Generator](https://openapi-generator.tech/)などのツールを使ってコードの一部自動生成やモックサーバーの構築ができます。\n  OASの標準に従っているので、API仕様を理解しやすく、開発負荷を削減し、接続作業を効率化します。  \n\n- **Remote Procedure Call(RPC/[遠隔手続き呼び出し](https://ja.wikipedia.org/wiki/%E9%81%A0%E9%9A%94%E6%89%8B%E7%B6%9A%E3%81%8D%E5%91%BC%E5%87%BA%E3%81%97))に基づいた設計**  \n  決済処理の特性をAPIで表現するには、「リソース」操作をベースとした[REST](https://ja.wikipedia.org/wiki/Representational_State_Transfer)形式ではなく、「手続き」をリクエストするRPC形式が最適です。  \n  全てのAPIはアクションで表され、HTTPメソッドはPOSTで統一されています。  \n  つまり、照会や削除のリクエストAPIであってもRESTとは異なりHTTPメソッドはPOSTです。  \n  ペイロードはJSON形式で表すこと、HTTPステータスコードでレスポンスの内容を表す様式は、使い慣れたRESTと同じです。  \n\n- **冪等性(Idempotency)をサポート**  \n  二重決済となる心配は無用です。同一の冪等キーを設定した支払いリクエストを何度リトライしても、支払い処理は一回しか行われず同じレスポンスが返ります。  \n  ネットワークエラーなどの場合に加盟店様から自動リトライすれば、不整合となった支払いリクエストを安全に修復できます。  \n  決済データの一貫性を保ち、加盟店様サービスのお客様にも安心してご利用いただける環境を提供します。  \n\n他にも末永く安心して使っていただけるよう以下の特徴を提供します。\n\n- **簡単な決済手段追加**  \n  [支払いタイプ](#tag/glossary)ごとに集約したAPI構成になっています。  \n  決済手段追加時の開発コストを削減できるので、貴社ビジネス部門からの「この決済手段を試したい」という要望に迅速に対応できます。\n\n- **決済の不正利用を防止**  \n  あらゆる不正検知ソリューションに対応しています。  \n  クレカ払いAPIに統合されているため、追加の開発は必要ありません。  \n  また、お客様の多要素認証をサポートする本人確認機能をご利用いただけます。\n\n- **高度なセキュリティ対策**  \n  APIの通信はTLS(SSL)による暗号を必須としており、政府機関レベルの強固な暗号化方式のみを許可しています。  \n  また、APIへのアクセス認証においては、従来のパスワード方式に加えて、より安全性の高いOAuth 2.0を利用したアクセストークン方式もサポートします。  \n  PCI DSS(Payment Card Industry Data Security Standard)に準拠した内部システムでは、全ての個人情報が暗号化されています。  \n  私たちのシステムは常に最新のセキュリティ標準にアップデートしており、お客様に安心してご利用いただける環境を提供しています。  \n\nまた、OpenAPIタイプと従来のプロトコルタイプ/モジュールタイプには互換性があります。  \n現在プロトコル/モジュールタイプをご利⽤いただいている加盟店様は、簡単にOpenAPIタイプへ移行できます。  \n取引の情報や登録済みの会員データはそのまま利⽤ができ、ショップの情報や各種設定は変わりません。  \n管理画⾯、取引配信サービス、SFTP⼀括処理などはこれまで通りご利⽤になれます。  \n詳細は[プロトコルタイプ/モジュールタイプからの移行](#tag/migration)を参照ください。\n<br>\n"
    },
    {
      "name": "payment",
      "x-displayName": "支払い機能",
      "description": "PGマルチペイメントサービスが提供する決済機能をOpenAPIタイプでどのように扱うかを説明します。  \n\n<br>\n\n### 支払いパターン\nタイミングやお客様操作の有無により、支払いパターンは以下の3つに分類されます。  \n\n|支払いパターン|説明|OpenAPIタイプでの取り扱い|\n| :- | :- | :- |\n| 都度支払い<br>one-off| 支払いの都度、お客様が決済に必要な情報入力や手続きをする支払いパターンです。<br>例)<br>クレジットカード番号を入力しての支払い<br>Amazonアカウントに登録してあるクレジットカードを使ったAmazon Pay V2での支払い<br>払い出された決済番号を使った、コンビニでの支払い| 全ての決済手段で<br>利用できます。|\n| 随時支払い<br>on-file| 支払いに必要な番号や認証情報を当サービスに事前に保管しておき、お客様が都度の情報を入力することなくお支払いができる支払いパターンです。<br>オートチャージのように一定の条件下でお客様の操作なく支払いを完了させる場合も含まれます。<br>以下の「定期支払い」と同様の仕組みを加盟店様システム内にて構築する場合は「随時支払い」をご利用ください。<br>例)<br>当サービスに保管済みの番号を設定したクレジットカード支払い<br>当サービスに保管済みの認証情報を設定してログイン遷移なく実施する楽天ペイ(オンライン決済)V2での支払い| 一部の決済手段で<br>利用できます。|\n| 定期支払い<br>recurring| 決められたスケジュール、決められた金額での支払いを継続する支払いパターンです。<br>例)<br>当サービスに保管済みのカード番号を利用して、自動で毎月10日に会費1,000円をクレジットカードで支払い| 現在は利用できません。<br>今後、クレジットカード決済<br>のみ対応予定です。| \n\n<br>\n\n### 決済手段\n利用可能な決済手段は以下の通りです。  \n\n|支払い<br>タイプ|決済手段|処理の流れと支払い成立条件|随時支払い(on-file)への対応|対応するAPI|\n| :---: | :--- | :--- | :--- | :--- |\n|クレカ払い|1.クレジットカード<br>2.Google Pay<br>3.Apple Pay<br><br>*Apple Pay以外は<br>3Dセキュアに対応|加盟店様サイトからの支払いリクエストを<br>受けると、当サービスからカード会社にオーソリ<br>([信用照会](https://ja.wikipedia.org/wiki/%E4%BF%A1%E7%94%A8%E7%85%A7%E4%BC%9A))を行います。<br>カード会社から与信成功が返れば支払い<br>成立です。<br>支払いの結果はレスポンスとして即時<br>返ります。<br><br>3Dセキュア認証を行う場合は一度外部の<br>認証機関に遷移した後にオーソリをします。|当サービスに保管したカード情報を<br>利用して随時支払いが可能です。<br><br>Google Payのアカウントそのものを保管<br>して随時支払いはできません。<br>しかし、実際に使用されたクレジットカード<br>を保管してクレカ払いとして随時支払いに<br>利用できます。<br><br>Apple Payについては、VISAブランド以外<br>は随時支払いに対応していますが、利用<br>できなくなる可能性があります。|[/credit/charge](#tag/creditcard/operation/creditCharge)<br>[/credit/on-file/charge](#tag/creditcard/operation/creditOnfileCharge)|\n|Pay払い|1.PayPay<br>2.d払い<br>3.楽天ペイ(オンライン決済)V2<br>4.Amazon Pay V2<br>5.au PAY(ネット支払い)アプリ方式<br>6.メルペイ<br>7.Alipay <br>**<span style=\"color: #d41f1c\">※本番環境ではAlipayは2025年8月以降に利用いただけます。</span>**  |加盟店様サイトからの支払いリクエスト後に<br>別のサイトやアプリに遷移し、お客様自身<br>による同意が必要です。<br>Pay払い提供会社の認証が成功して加盟店様<br>サイトが設定したURLに遷移した<br>タイミングで支払いを成立させてください。|Alipayを除くPay払いで認証情報を保管できます。<br>ご利用には事前の承諾が必要です。<br>詳細は[利用承諾API](#tag/wallet/operation/walletAuthorizeAccount)を参照ください。|[/wallet/charge](#tag/wallet/operation/walletCharge)<br>[/wallet/on-file/charge](#tag/wallet/operation/walletOnfileCharge)|\n|現金払い|1.コンビニ<br>2.Pay-easy<br>3.銀行振込<br>(バーチャル口座)|加盟店様サイトからの支払い要求リクエストを<br>受けて決済機関に対して支払いに必要な情報を<br>要求します。<br>それらの支払い番号などの情報が返ります<br>ので加盟店様からお客様に通知してください。<br>お客様が支払うと、当サービスから加盟店様に<br>Webhookで通知します。<br>この通知を受け取ったタイミングで支払い<br>を成立させてください。|利用できません。|[/cash/charge](#tag/cash/operation/cashCharge)|\n\n<br>\n"
    },
    {
      "name": "idverification",
      "x-displayName": "本人確認機能",
      "description": "PGマルチペイメントサービスが提供する本人確認機能「Verifyサービス」をOpenAPIタイプでどのように扱うかを説明します。  \n「Verifyサービス」は、お客様の会員登録時、ログイン認証時、属性情報変更時など任意のタイミングにおいて、多様な認証手段で本人確認ができる機能です。  \n複数の認証手段を簡易に単一のAPIでまとめて導入することができます。  \n<br>\n\n### 本人確認の認証手段\n\n利用可能な認証手段は以下の通りです。  \n\n|認証手段|お客様のデータ|処理の流れ|\n| :---: | :--- | :--- |\n|SMS認証|携帯電話番号|加盟店様サイトからのリクエストを受けると<br>お客様の携帯電話に認証コード（6桁数値）を送信します。<br>お客様は当サービスが提供する画面にて認証コードを入力します。<br>認証成功後は加盟店様サイトが設定したURLに戻ります。|\n\n※今後はマイナンバーカードを使った本人確認（マイナIC認証）への対応も予定しています。\n\n<br>\n"
    },
    {
      "name": "onboarding",
      "x-displayName": "導入の流れとテスト",
      "description": "OpenAPIタイプを利用してPGマルチペイメントサービスをインテグレーションする流れを説明します。  \n1. **テストアカウントの申し込み**  \nPGマルチペイメントサービスのテストアカウントは[こちら](https://stg.static.mul-pay.jp/assets/trial/startTrial.html)からどなたでも申し込み可能です。  \n\n2. **テストアカウントの認証情報でテスト環境に接続してテスト**  \nテストアカウントのショップIDとショップパスワードがテスト環境の認証情報です。  \n認証情報を設定してAPIにアクセスするためには、[APIの認証](#tag/authentication)を参照ください。  \nテスト環境の接続先情報については、[環境とFQDN](#tag/fqdn)を参照ください。  \nテスト環境はメンテナンス時を除き、24時間365日無料で利用可能です。 \n\n3. **本番アカウントの申し込み**  \n本番環境のアカウント申し込みは、貴社ビジネス担当の方から当サービス営業窓口までお願いします。  \n審査、契約のお手続きが完了後に本番アカウントが発行されます。  \n\n4. **本番環境に接続を切り替えて商用利用開始**  \n本番アカウントのショップIDとショップパスワードが本番環境の認証情報です。  \n認証情報の設定とAPIエンドポイント(URI)を本番環境のものに切り替えたら接続準備は完了です。  \n\n<br>\n"
    },
    {
      "name": "migration",
      "x-displayName": "プロトコルタイプ/モジュールタイプからの移行",
      "description": "プロトコルタイプ/モジュールタイプは引き続き利用いただけますが、より便利なOpenAPIタイプに移行することを推奨します。  \n前述の通り、OpenAPIタイプと従来の接続方式には互換性があり併用が可能です。  \n例えば取引の確定をするスケジュール処理を先⾏して実装するといった柔軟な移⾏が可能です。  \n詳細な情報については、[プロトコルタイプ対応表](#tag/correspondence)を参照ください。  \n\nプロトコルタイプ/モジュールタイプとOpenAPIタイプで共通して取り扱うデータについて説明します。  \n|データ|説明|\n| :--- | :--- |\n|ショップID|共通して利用でき、変更の必要はありません。<br>テスト環境のショップIDも同様です。|\n|ショップパスワード|共通して利用でき、変更の必要はありません。<br>管理画面からパスワードを変更した場合、両方に反映されます。|\n|サイトID|OpenAPIタイプでは利用しません。<br>ショップIDの設定により、紐づくサイトIDが自動で利用されます。<br>カード登録時の処理料ご請求先は、これまで通り請求先ショップです。|\n|サイトパスワード|OpenAPIタイプでは利用しません。|\n|取引ID|共通の仕様で発行され、両方で利用できます。|\n|取引パスワード|OpenAPIタイプでは利用しません。<br>元の取引を指定する場合は取引IDのみで行います。|\n|取引ステータス|共通して利用できます。|\n|オーダーID|共通して利用できます。|\n|会員ID|共通して利用できます。|\n|登録済みカード|共通して利用できます。ただし、OpenAPIタイプでは削除済み状態のカードで支払いできません。|\n|カード登録連番モード|OpenAPIタイプでは利用しません。<br>従来の「物理モード」が標準ですが、「論理モード」もサポートします。|\n|カード登録連番|OpenAPIタイプでは従来の「物理登録連番」を「カードID」と表します。<br>「論理登録連番」は「カードインデックス」として扱います。|\n\n従来のプロトコルタイプ/モジュールタイプとOpenAPIタイプには、一部の仕様に差異があります。  \n移行においては、特に以下の点にご注意ください。  \n- OpenAPIタイプでは、一部の決済手段を除いて従来の「結果通知」はサポートしていません。  \n  タイムアウトなどでレスポンスが返らない場合は、同一の冪等キーを設定してリトライをお願いします。  \n  詳細については[Webhook通知](#tag/webhook)、従来の[結果通知 概要（マルペイDocs）](https://docs.mul-pay.jp/notified/overview)<sup>※</sup>を参照ください。  \n  <small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>  \n- モバイルEdy決済、モバイルSuica決済など、[支払い処理](#tag/payment)に記載のない決済手段は現時点で提供の予定はありません。\n- 金額と税送料は統合しました。税送料は個別に設定できません。\n- 個別の加盟店様向けの特殊機能やオプションパラメーターは利用できません。\n- 同時接続数はプロトコルタイプ/モジュールタイプに適用されている値に準じます。\n- プロトコルタイプ/モジュールタイプで取引登録を行った取引に対してOpenAPIタイプで処理を行った場合、従来の「結果通知」仕様に則り通知がされます。  \n- プロトコルタイプ/モジュールタイプのカード登録/更新(SaveCard)では、物理モードで登録連番を指定せずに登録済みのカード番号を指定した場合、同一のカード番号を「新規登録」ではなく「更新」として処理しますが、OpenAPIタイプでは「新規登録」として扱います。  \n- 登録済みカード情報のデフォルトフラグを付け替える機能は提供していません。\n\n<br>\n"
    },
    {
      "name": "connected",
      "x-displayName": "接続してみましょう",
      "description": "GET STARTEDセクションは、開発者の方に向けた共通の技術仕様に関するドキュメントです。  \n実際にOpenAPIタイプに接続するプログラム開発をするにあたりお読みください。\n\n<br>\n"
    },
    {
      "name": "testing",
      "x-displayName": "テストアカウントの申し込み",
      "description": "OpenAPIタイプに接続するための第一歩は、テストアカウントの作成です。  \nこちらの[テスト環境申し込みページ](https://stg.static.mul-pay.jp/assets/trial/startTrial.html)から即時発行が可能です。  \n登録が完了すると申し込み時のメールアドレスにショップ管理画面のログイン情報が届きます。  \nショップ管理画面にログインし、「ショップ管理」メニューから「ショップパスワード」を確認します。  \nメールまたは管理画面に表示されている「ショップID」と「ショップパスワード」が、APIを利用するための認証情報です。   \n\n<br>\n"
    },
    {
      "name": "endpoint",
      "x-displayName": "APIエンドポイントの原則",
      "description": "APIのエンドポイントはRemote Procedure Call(RPC/遠隔手続き呼び出し)のマナーに従います。  \n一般に広く利用されているREST APIのようにエンドポイントは操作するリソースを表していません。  \nクレジットカード決済の「オーソリ(信用照会)」、取引の「確定」のように操作の単位にエンドポイントがあります。  \n例えばクレジットカードの支払いリクエストAPIは「/credit/charge」、取引照会APIは「/order/inquiry」です。  \n\n<br>\n"
    },
    {
      "name": "security",
      "x-displayName": "セキュリティ",
      "description": "APIを安全にご利用いただくための情報やご注意事項を説明します。  \n<br>\n\n### TLS通信の暗号スイート\nAPIへの接続は安全なHTTPSおよびSSLプロトコルTLS 1.2の暗号通信を利用します。  \n高い安全性を実現するために以下のTLS暗号スイートのみが利用可能です。  \nAPI通信を行う加盟店様のサーバーがこれらの暗号スイートに対応していることを確認してください。  \n新たな脆弱性が見つかった場合、この一覧は変更になる可能性があります。  \n\n|暗号スイート|\n|---|\n|TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA|\n|TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256|\n|TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384|\n|TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA|\n|TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384|\n|TLS_RSA_WITH_AES_128_GCM_SHA256|\n|TLS_RSA_WITH_AES_256_GCM_SHA384|\n|TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256|\n\n<br>\n\n### APIへのアクセス認証\nAPIにアクセスするための認証方式は以下の2つを用意しています。  \n組み合わせて利用できますので、現在パスワード方式をご利用の加盟店様は順次アクセストークン方式に切り替え可能です。  \nAPIエンドポイントによりサポートする方式が異なります。各API仕様詳細の<span class=\"mp-oas-code\">AUTHORIZATIONS:</span>欄を確認してください。  \n\n- **パスワード方式**  \n  ショップIDとショップパスワードの組み合わせで認証します。  \n  ショップパスワードの紛失・漏洩に備え、定期的なショップパスワード変更を推奨します。  \n  変更の方法はこちらの[FAQページ](https://mp-faq.gmo-pg.com/s/article/F00604)を参照ください。  \n\n- **アクセストークン方式**  \n  事前に取得したアクセストークンで認証します。  \n  アクセストークンは有効期間内であれば、いずれのAPIでも回数の制限なく利用でき、一定の時間で失効します。  \n  これにより、万が一アクセストークンが漏洩した場合でも、リスクを最小限に抑えられます。  \n  本方式を利用する場合、パスワード方式を無効にすることで、セキュリティをさらに強化できます。  \n  無効化の方法はこちらの[FAQページ](https://mp-faq.gmo-pg.com/s/article/D01442)を参照ください。  \n\n詳細な仕様については、[APIの認証](#tag/authentication)を参照ください。  \nどちらの認証方式においても、ショップIDとショップパスワードが用いられます。  \nこれら2つの認証情報をセットで外部に公開しないよう、厳重な管理をお願いします。  \n<br>\n\n### IPアドレス制限\n加盟店様が許可した特定の接続元IPアドレスからのみAPIにアクセスできる機能です。  \n本機能を利用することで、第三者による悪用や不正取引の被害を防止します。  \n許可されていないIPアドレスからアクセスした場合は、<span class=\"mp-oas-code\">unauthorized_request</span>エラーになります。  \nIPアドレスはAPIエンドポイントごとに分けて設定することが可能です。  \n設定方法は[ドキュメント一覧（マルペイDocs）](https://docs.mul-pay.jp/service/doclist)<sup>※</sup>の「セキュリティ関連 - 912_OpenAPIタイプ管理画面操作マニュアル」を参照ください。  \n<small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>  \n\n<br>\n\n### セッション管理\nOpenAPIタイプが提供する全てのAPIはセッションを維持しません。  \nAPIの通信時に毎回上記の認証をします。  \n<br>\n\n### 偽装通信への対策\nリダイレクトやWebhook時は、当サービスから加盟店様サーバーに通信します。  \nこれらの通信は、悪意のあるユーザーにより偽装される可能性があります。  \n対策としては、事前のリクエスト時に<span class=\"mp-oas-code\">Merchant.csrfToken</span>パラメーターに加盟店様側で発行した任意の文字列を設定します。  \nこの<span class=\"mp-oas-code\">csrfToken</span>の値がリダイレクトやWebhook時に返りますので、通信の正当性を確認してください。\n"
    },
    {
      "name": "parameters",
      "x-displayName": "パラメーターの設定",
      "description": "### フォーマット\nAPIのパラメーターはJSON形式、文字コードはUTF-8で設定します。  \n認証APIはRFCに準拠しているため、キー・バリューのフォームデータ型で設定します。  \n利用可能な文字はパラメーターにより異なります。  \n各APIのリクエストパラメーターの説明を確認してください。  \n<br>\n\n### 必須パラメーター\n必須パラメーターには、<span style=\"color: #d41f1c;font-family:Courier,monospace;font-size: 0.9em\">required</span>がついています。  \n設定をしないと<span class=\"mp-oas-code\">missing_parameter</span>エラーになります。  \n\n加盟店(ショップ)情報<span class=\"mp-oas-code\">merchant</span>や取引情報<span class=\"mp-oas-code\">order</span>など、全ての支払いタイプ共通で利用する可能性があるパラメーターは設定必須にしています。  \n購入者の氏名(フルネーム)<span class=\"mp-oas-code\">payer.name</span>など、加盟店様サイトで取得が難しい項目につきましても、できる限り設定するようお願いします。  \n<br>\n\n### 親オブジェクトと必須パラメーターの関係\n<span style=\"color: #d41f1c;font-family:Courier,monospace;font-size: 0.9em\">required</span>がついていても、以下の場合は省略可能です。  \n- 親オブジェクトのパラメーターに<span style=\"color: #d41f1c;font-family:Courier,monospace;font-size: 0.9em\">required</span>がついていない  \n- 親オブジェクト自体を設定していない  \n\n例として、<span class=\"mp-oas-code\">order.shippingAddress.name</span>は設定必須ですが、親オブジェクト<span class=\"mp-oas-code\">order.shippingAddress</span>自体を設定しなければエラーにはなりません。  \n反対に親オブジェクト<span class=\"mp-oas-code\">order.shippingAddress</span>を設定した場合、<span class=\"mp-oas-code\">order.shippingAddress.name</span>は必ず設定してください。  \n<br>\n\n### 決済手段によって必須になるパラメーター\n<span style=\"color: #d41f1c;font-family:Courier,monospace;font-size: 0.9em\">required</span>がついてないパラメーターであっても、決済手段によっては設定が必要です。  \n詳細は各パラメーター説明欄の「**決済手段ごとの制限事項**」を確認してください。  \n<br>\n\n### 任意パラメーター\n必須ではないパラメーターに値を設定しない場合、以下のいずれの方式でも受け付けます。  \n\n- 値に「null」を設定\n```javascript\n{\"requestParameter\": null}\n```\n- Stringタイプのパラメーターの場合、値に「空文字 \"\"」を設定\n```javascript\n{\"requestParameter\":\"\"}\n```\n- パラメーターを設定しない\n```javascript\n{}\n```\n<br>\n\n### レスポンスパラメーター\nレスポンスパラメーターについて、値なし(null)の場合は当サービスからはパラメーターが返りません。  \n加盟店様のシステムでは、パラメーターなしのレスポンスを正しく受け取れるようにしてください。  \nまたアップグレードにより、追加のパラメーターが返る可能性があります。  \n定義されていないパラメーターをエラーとして扱わないようお願いします。  \n<br>\n"
    },
    {
      "name": "header",
      "x-displayName": "リクエストのHTTPヘッダー",
      "description": "HTTPヘッダーにはAPIリクエストにおける共通の内容を設定します。  \nOpenAPIタイプでは以下のデータを送信してください。  \n\n|項目|値|備考|\n| :--- | :--- | :--- |\n|Authorization|認証情報<br>認証方式により設定する内容が異なります。<br>&nbsp;- パスワード方式: <span class=\"mp-oas-code\">Basic ベーシック認証データ</span><br>&nbsp;- アクセストークン方式: <span class=\"mp-oas-code\">Bearer アクセストークン</span>|詳細は[APIの認証](#tag/authentication)を参照ください。|\n|Content-Type|コンテントタイプ<br>APIエンドポイントにより設定する内容が異なります。<br>&nbsp;- アクセストークン発行API: <span class=\"mp-oas-code\">application/x-www-form-urlencoded</span><br>&nbsp;- 上記以外のAPI: <span class=\"mp-oas-code\">application/json</span>||\n|Idempotency-Key|冪等キー<br>リクエスト毎にユニークな<br>最大36桁の任意の文字列です。|詳細は[冪等処理](#tag/idempotence)を参照ください。|\n|X-MP-Version|APIバージョン<br>本APIのバージョンを表す<span class=\"mp-oas-code\">YYYY-MM</span>形式の値です。<br>例) 2023-06, 2024-12|OpenAPIタイプのAPIバージョンを<br>指定して実行する場合に利用します。<br>省略時や日付の様式が正しくない<br>場合は最新のバージョンとして<br>扱われます。<br>詳細は[バージョン管理](#tag/versioning)を参照ください。|\n\nパスワード方式で冪等キーとAPIバージョンを利用しない場合の設定例です。\n```html\nAuthorization: Basic dGVzdDoxMjPCow==\nContent-Type: application/json\n```\n<br>\n\nアクセストークン方式で冪等キーとAPIバージョンを利用する場合の設定例です。\n```html\nAuthorization: Bearer M2NlNjE1ZjYtMzc1Yy00ZGQ5LTg0OTAtOGEwNzliMzYyMjUzOjAwMDAwMDAwMDAwMDA=\nContent-Type: application/json\nIdempotency-Key: ede66c43-9b9d-4222-93ed-5f11c96e08e2\nX-MP-Version: 2023-06\n```\n\n<br>\n"
    },
    {
      "name": "authentication",
      "x-displayName": "APIの認証",
      "description": "認証方式によって加盟店様の開発コスト、セキュリティレベルが異なります。  \nそれぞれの特徴・注意事項は[セキュリティ](#tag/security)を参照ください。  \n\n|方式|方式(和名)|ベース技術|開発コスト|セキュリティ<br>レベル|\n|---|---|---|---|---|\n|Password|パスワード方式|Basic HTTP認証スキーム(ベーシック認証)|低|中|\n|AccessToken|アクセストークン方式|OAuth2.0認可フレームワーク|中|高|\n\n<br>\n\n### パスワード方式\nショップIDとショップパスワードを利用したBasic HTTP認証スキーム(ベーシック認証)で認証します。  \nベーシック認証([RFC 7617](https://www.rfc-editor.org/rfc/rfc7617))で定義されている仕様に従います。  \n\n<br>\n\n#### 設定方法\n「ショップID」と「:」(コロン)と「ショップパスワード」を連結した文字列をBase64エンコードした値を用意します。  \n認証スキーマ名である「Basic」と「 」(半角スペース)の後にこのエンコード後の値を続けた文字列が認証データです。  \nこの認証データをHTTPリクエストヘッダーの<span class=\"mp-oas-code\">Authorization</span>に設定します。  \n<br>\n\n以下はHTTPリクエストヘッダーの設定例です。  \n```html\nAuthorization: Basic dGVzdDoxMjPCow==\n```\n<br>\n\n### アクセストークン方式  \n事前に取得したアクセストークンで認証します。  \nOAuth2.0認可フレームワーク([RFC 6749](https://www.rfc-editor.org/rfc/rfc6749))で定義されている仕様に従います。  \n[アクセストークン発行](#tag/token/operation/token)APIをリクエストすることでアクセストークンが払い出されます。  \n\n<br>\n\n#### アクセストークン発行の認証\nアクセストークン発行APIの認証は、ショップIDとショップパスワードを使ったパスワード方式で行います。  \n当APIにリクエスト可能なアクセス元IPアドレスを制限することが可能です。  \n設定方法は[ドキュメント一覧（マルペイDocs）](https://docs.mul-pay.jp/service/doclist)<sup>※</sup>の「セキュリティ関連 - 912_OpenAPIタイプ管理画面操作マニュアル」を参照ください。  \n<small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>  \n\n<br>\n\n#### 有効範囲\nアクセストークンは有効期間内であれば、いずれのAPIでも回数の制限なく利用できます。  \n有効期間はデフォルト3,600秒(1時間)となっており、変更されることはほとんどありませんが、セキュリティ強化のために予告なく調整される可能性があります。  \n実際の値はアクセストークン発行APIのレスポンスの有効期間(秒)<span class=\"mp-oas-code\">expires_in</span>で確認できます。  \n有効期間を過ぎるとHTTPステータス<span class=\"mp-oas-code\">401</span>のエラーが返りますので、再度アクセストークンを発行してください。  \n\n<br>\n\n#### アクセストークンの複数発行\nアクセストークンは複数同時に発行することが可能です。  \nそれぞれの有効期間は独立しており、他のアクセストークンには影響を与えません。  \n\n<br>\n\n#### 認可サーバー\nアクセストークンを発行する認可サーバーは環境によりURLが異なります。  \n\n|環境|認可サーバー|\n|---|---|\n|テスト環境|https://stg.oauth.mul-pay.jp/token|\n|本番環境|https://oauth.mul-pay.jp/token|\n\n<br>\n\n#### 設定方法\n認証スキーマ名である「Bearer」と「 」(半角スペース)の後にアクセストークンを加えた文字列が認証データです。  \nAPIをリクエストする場合は、この認証データをHTTPリクエストヘッダーの<span class=\"mp-oas-code\">Authorization</span>に設定します。  \n<br>\n以下はHTTPリクエストヘッダーの設定例です。  \n```html\nAuthorization: Bearer M2NlNjE1ZjYtMzc1Yy00ZGQ5LTg0OTAtOGEwNzliMzYyMjUzOjAwMDAwMDAwMDAwMDA=\n```\n\n<br>\n"
    },
    {
      "name": "idempotence",
      "x-displayName": "冪等処理",
      "description": "冪等性(べきとうせい)とは、同じ操作を何度繰り返しても、同じ結果が得られるという性質です。  \nOpenAPIタイプの対象APIは冪等性をサポートしており、安全にリトライが可能です。  \n\n\n<div style=\"text-align: center;font-weight: bold;margin: 16px; color:#001C40;\">\n1回目のリクエストが<span style=\"color:#005BAC; background-color: #d9f4fc;\">成功</span>した場合の処理シーケンス\n</div>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nparticipant mer as 加盟店様\nparticipant psp as 当サービス\nmer ->>+ psp: リクエスト　冪等キー'AAA'\nNote right of psp: 処理成功\npsp--xmer: レスポンス 'OK'\nNote left of mer: 通信エラー等により<br>レスポンスの受け取りに失敗\nmer ->>+ psp: リクエストのリトライ　冪等キー'AAA'\nNote right of psp: 再処理はせずに1回目と同じ<br>レスポンスを返却\npsp-->>mer: レスポンス 'OK'\n```\n\n1回目のリクエストが失敗していた場合は、同じ冪等キーでのリトライは冪等にならず再処理されます。  \n1回目の[HTTPステータスコード](#tag/httpstatuscode)が<span class=\"mp-oas-code\">409</span>、<span class=\"mp-oas-code\">429</span>、<span class=\"mp-oas-code\">500</span>、<span class=\"mp-oas-code\">502</span>エラーであれば、再処理の結果、成功することがあります。  \n上記以外のエラーは、リトライをしても1回目と同じエラーになる可能性が高いです。  \n\n<div style=\"text-align: center;font-weight: bold;margin: 16px; color:#001C40;\">\n1回目のリクエストが<span style=\"color:#005BAC; background-color: #d9f4fc;\">失敗</span>した場合の処理シーケンス\n</div>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nparticipant mer as 加盟店様\nparticipant psp as 当サービス\nmer ->>+ psp: リクエスト　冪等キー'BBB'\nNote right of psp: 処理失敗\npsp--xmer: レスポンス 'ERROR'\nNote left of mer: 通信エラー等により<br>レスポンスの受け取りに失敗\nmer ->>+ psp: リクエストのリトライ　冪等キー'BBB'\nNote right of psp: 1回目が失敗しているため再処理\npsp-->>mer: レスポンス 'OK'<br>※必ず成功するわけではありません\n```\n\n<br>\n\n### 冪等性をサポートするAPI  \n主に更新処理を伴うAPIが冪等性をサポートします。  \n対象となるAPIは、詳細仕様の<span class=\"mp-oas-code\">HEADER PARAMETERS</span>に、<span class=\"mp-oas-code\">Idempotency-Key</span>が定義されています。  \n\n<br>\n\n### 利用方法\n冪等にするためには、[リクエストのHTTPヘッダー](#tag/header)に冪等キーを設定します。  \n冪等キーには、リクエスト毎にユニークな最大36桁の任意の文字列を割り当ててください。  \nランダムにユニークな値を生成するUUID v4の利用を推奨します。  \n以下はHTTPリクエストヘッダーの設定例です。  \n```html\nIdempotency-Key: ede66c43-9b9d-4222-93ed-5f11c96e08e2\n```\n\n<br>\n\n### 有効範囲\nリクエストの開始から24時間以内は冪等性が有効です。  \n有効期限が切れた冪等キーは、新規のリクエストとして扱われます。  \n\n<br>\n"
    },
    {
      "name": "concurrency",
      "x-displayName": "同時接続数の制限",
      "description": "全ての加盟店様が安定して当サービスを利用できるよう、APIの同時接続数には上限があります。  \n同時接続数はショップIDかつAPIエンドポイントごとに管理され、上限値を超えたリクエストは<span class=\"mp-oas-code\">too_many_requests</span>エラーになります。  \n\n<br>\n\n### 同時接続数の数え方\n以下の期間を接続状態として、接続数1と数えます。  \n\n- **開始**：加盟店様サーバーからのAPIリクエストが当サービスに到達  \n- **終了**：処理が完了して当サービスからレスポンスを返却  \n\n一定時間内のリクエスト数を制限するAPIレート制限とは異なり、当サービス内の処理実行時間によって、1秒あたりにリクエストできる数が変わります。  \n例えば、同時接続数の上限値が5で、1リクエストの処理実行時間が0.1秒の場合、1秒間に最大50件のリクエストを送信できます。  \n1リクエストの処理実行時間が5秒の場合は、1～5秒の間は最大5件のリクエストしか送信できません。  \n\n<br>\n\n### 同時接続数の上限値\n上限値はAPIエンドポイントごとに決められており、各環境での値は以下の通りです。  \n実際の値はショップ管理画面から確認ができます。  \n確認方法は[ドキュメント一覧（マルペイDocs）](https://docs.mul-pay.jp/service/doclist)<sup>※</sup>の「セキュリティ関連 - 912_OpenAPIタイプ管理画面操作マニュアル」を参照ください。  \n<small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>  \n\n<table>\n  <thead>\n    <tr>\n      <th rowspan=\"2\" colspan=\"2\">APIの分類</th>\n      <th rowspan=\"2\">エンドポイント</th>\n      <th colspan=\"2\" style=\"text-align: center;\">同時接続数の上限値</th>\n    </tr>\n    <tr>\n      <th>本番環境</th>\n      <th>テスト環境</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>認証API</td>\n      <td><a href=\"#tag/token\">アクセストークン</a></td>\n      <td>/token</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td rowspan=\"20\">支払いAPI</td>\n      <td rowspan=\"7\"><a href=\"#tag/creditcard\">クレカ払い</a></td>\n      <td>/credit/charge</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/credit/on-file/charge</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/tds2/finalizeCharge</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/credit/verifyCard</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/tds2/finalizeVerification</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/credit/storeCard</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/credit/getCardDetails</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td rowspan=\"4\"><a href=\"#tag/wallet\">Pay払い</a></td>\n      <td>/wallet/charge</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/wallet/on-file/charge</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/wallet/authorizeAccount</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/wallet/getCustomerData</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td><a href=\"#tag/cash\">現金払い</a></td>\n      <td>/cash/charge</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td rowspan=\"4\"><a href=\"#tag/order\">取引管理</a></td>\n      <td>/order/capture</td>\n      <td style=\"text-align: center;\">10</td>\n      <td style=\"text-align: center;\">10</td>\n    </tr>\n    <tr>\n      <td>/order/update</td>\n      <td style=\"text-align: center;\">10</td>\n      <td style=\"text-align: center;\">10</td>\n    </tr>\n    <tr>\n      <td>/order/cancel</td>\n      <td style=\"text-align: center;\">10</td>\n      <td style=\"text-align: center;\">10</td>\n    </tr>\n    <tr>\n      <td>/order/inquiry</td>\n      <td style=\"text-align: center;\">10</td>\n      <td style=\"text-align: center;\">10</td>\n    </tr>\n    <tr>\n      <td rowspan=\"4\"><a href=\"#tag/member\">会員管理</a></td>\n      <td>/member/create</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/member/inquiry</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/member/delete</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/member/deleteItem</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td rowspan=\"2\">本人確認API</td>\n      <td rowspan=\"2\"><a href=\"#tag/verify\">本人確認</a></td>\n      <td>/verification/start</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n    <tr>\n      <td>/verification/inquiry</td>\n      <td style=\"text-align: center;\">5</td>\n      <td style=\"text-align: center;\">5</td>\n    </tr>\n  </tbody>\n</table>\n\n<br>\n\n### 上限値を増やす場合\n上記の上限値を超えてリクエストを行いたい場合、営業担当もしくはカスタマーサポートへご連絡ください。  \n代理店を通した契約の店子様は、代理店へご相談ください。  \n\n<br>\n\n### テスト環境での負荷テスト\nテスト環境での負荷テストは実施しないでください。  \n負荷テストにより当サービスに影響が出た場合、予告なく利用を制限します。    \n\n<br>\n"
    },
    {
      "name": "callback",
      "x-displayName": "リダイレクトとコールバック",
      "description": "### リダイレクト\n3Dセキュア認証処理やPay払いは、外部のサイトにリダイレクトします。  \nOpenAPIタイプでは全てのリダイレクト処理をHTTPメソッド<span class=\"mp-oas-code\">GET</span>で実現します。  \n当サービスから返る遷移先URLにリダイレクトする処理のサンプルです。  \n\nHTTPヘッダーを使って302リダイレクト\n\n```html\nHTTP/1.1 302 Found\nLocation: {redirectUrl}\n```\n\n<br>\nmeta refreshでリダイレクト\n\n```html\n<html>\n  <head>\n    <meta http-equiv=\"refresh\" content=\"0; URL={redirectUrl}\" />\n  </head>\n</html>\n```\n\n<br>\n\n### コールバック\nリダイレクト後は、お客様と遷移先のサイトの間で処理が行われます。  \n処理が終わると取引リクエスト時に設定した加盟店様のコールバックURL<span class=\"mp-oas-code\">callbackUrl</span>に遷移します。  \n加盟店様のシステムで処理の結果を受け取れるようコールバックのエンドポイントをご用意ください。  \nお客様がブラウザを閉じるなど処理を中断した場合、コールバックはしません。  \nコールバックの呼び出し時のHTTPメソッドは<span class=\"mp-oas-code\">GET</span>です。  \n元の取引を特定するために、以下のパラメーターを送信します。  \nパラーメーターはJSON形式の文字列をBase64*URL*エンコードし、コールバックURLのクエリパラメーター<span class=\"mp-oas-code\">p</span>に設定します。  \nBase64URLデコードしてご利用ください。  \n\n|パラメーター|説明|\n| :--- | :--- |\n|accessId|取引リクエスト時に返る取引ID|\n|event|このコールバックのイベントタイプ<br><span class=\"mp-oas-code\">TDS_CHARGE_FINISHED</span><br><small>3Dセキュアの支払いにてautoAuthorization=trueの場合に返ります。取引照会にて状態を確認し決済成否を判断してください。</small><br><span class=\"mp-oas-code\">TDS_VERIFICATION_FINISHED</span><br><small>3Dセキュアの有効性確認にてautoAuthorization=trueの場合に返ります。取引照会にて状態を確認し決済成否を判断してください。</small><br><span class=\"mp-oas-code\">TDS_FINISHED</span><br><small>3Dセキュアの支払い・有効性確認にてautoAuthorization=falseの場合に返ります。3Dセキュア後の支払い・有効性確認を実施してください</small><br><span class=\"mp-oas-code\">WALLET_CHARGE_FINISHED</span><br><small>Pay払いの都度支払いにて返ります。取引照会にて状態を確認し決済成否を判断してください。</small><br><span class=\"mp-oas-code\">WALLET_APPROVAL_FINISHED</span><br><small>Pay払いの利用承諾にて返ります。取引照会にて状態を確認し決済成否を判断してください。</small><br><span class=\"mp-oas-code\">VERIFICATION_FINISHED</span><br><small>本人確認の認証開始にて返ります。照会にて状態を確認し認証成否を判断してください。</small>||\n|csrfToken|取引リクエスト時に加盟店様が設定した任意の値<br><small>※加盟店様システムにてコールバック受け取り後にCSRF対策として<br>正当性を確認することを想定しています。文字数は最大36桁です。</small>|\n\n例を以下に示します。\n\n取引リクエスト時に加盟店様が設定したコールバックURL\n\n```html\nhttps://merchant.example.com/callback\n```\n\nコールバック時に当サービスにてBase64URLエンコードした値をクエリパラメーターに追加\n\n```html\nhttps://merchant.example.com/callback?p=eyJhY2Nlc3NJZCI6ImFjZGM3ZDUzZjdhNzhmNDg4ZDhkMDk5N2VmZjk5YzZmIiwiZXZlbnQiOiJURFNfQ0hBUkdFX0ZJTklTSEVEIiwiY3NyZlRva2VuIjoiYmRiMDRjNWYtNDJmMC0yOWUyLTA5NzktZWRhZTNlNzc2MGJmIn0=\n```\n\n上記<span class=\"mp-oas-code\">p</span>パラメーターの値をBase64URLデコードした結果\n\n```javascript\n{\n  \"accessId\":\"acdc7d53f7a78f488d8d0997eff99c6f\",\n  \"event\":\"TDS_CHARGE_FINISHED\",\n  \"csrfToken\":\"bdb04c5f-42f0-29e2-0979-edae3e7760bf\"\n}\n```\n\n<br>\n"
    },
    {
      "name": "webhook",
      "x-displayName": "Webhook通知",
      "description": "処理された取引の結果を非同期で加盟店様に通知する機能です。  \nリクエスト時に設定した加盟店様のWebhook URL<span class=\"mp-oas-code\">webhookUrl</span>にHTTPで送信されます。  \n加盟店様のシステムで通知を受け取れるようWebhookエンドポイントをご用意ください。  \n<br>\n\n### 通知の対象\n通知対象の処理は以下です。  \n通常は数秒から2時間程度以内に通知します。  \n通知内容は各リンク先を参照ください。  \n- [現金払いの支払い完了](#tag/events/operation/cashWebhook)\n- [支払い完了済みのAmazon Pay V2をキャンセルした結果](#tag/events/operation/amazonPayCancelWebhook)  \n- [都度支払い（フロントエンド方式）の決済結果通知](#tag/events/operation/walletFrontendWebhook)  \n\n<br>\n\n### 通知APIの仕様\nWebhook通知APIの接続仕様です。  \n|項目|仕様|\n|:---|:---|\n|HTTPメソッド|<span class=\"mp-oas-code\">POST</span>|\n|HTTPリクエストヘッダーの<br><span class=\"mp-oas-code\">Content-Type</span>|<span class=\"mp-oas-code\">application/json</span>|\n|リクエストボディー|JSON形式|\n\n以下のIPアドレスから送信されます。  \n加盟店様システムにて接続制限をしている場合は、許可設定をお願いします。  \n|環境|送信元IPアドレス|\n|:---|:---|\n|テスト環境|210.197.108.196|\n|本番環境|210.175.7.20|\n\n受信する加盟店様システムのSSLサーバー証明書によっては通信エラーになる可能性があります。  \n動作確認済みのSSLサーバー証明書は[結果通知 SSL証明書（マルペイDocs）](https://docs.mul-pay.jp/notified/ssl)<sup>※</sup>を参照ください。  \n<small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>  \n<br>\n\n### 通知への応答\nWebhookを受信して正常に処理をした後は、HTTPステータス200番台を返してください。  \nレスポンスのボディは不要です。  \n200番台以外が返る場合は通知失敗と扱われ、リトライの対象になります。  \nリトライは一定間隔で正常応答をするまで最大5回送信されます。  \n間隔の初期設定は60分で、後述のとおり変更できます。  \n<br>\n\n### 通知の設定\nWebhookの通知を受けるためには、APIリクエスト時に加盟店様のWebhook URLをパラメーター<span class=\"mp-oas-code\">merchant.webhookUrl</span>に設定します。  \n従来の「結果通知」とは異なり、事前にショップ管理画面から有効化する必要はありません。  \n\nショップ管理画面にて以下の設定を変更可能です。  \n- リトライ間隔: デフォルト60分である通知失敗時のリトライ間隔を変更\n- 結果通知停止時間: 加盟店様システムのメンテナンスにより結果通知を受け取れない時間帯を設定し、終了時刻後にまとめて通知\n\n変更の方法は[結果通知 管理画面操作マニュアル（マルペイDocs）](https://docs.mul-pay.jp/notified/console)<sup>※</sup>を参照ください。  \n<small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>  \n「基本設定」、「SNI設定」など、上記以外の設定はOpenAPIタイプのWebhookには適用されません。  \n<br>\n"
    },
    {
      "name": "fqdn",
      "x-displayName": "環境とFQDN",
      "description": "テスト環境と本番環境を用意しています。  \n各環境はFQDN(絶対ドメイン名)で区別され、取引のデータは共用されません。  \nテスト環境での確認を終えて商用利用を開始する際は、以下の2点を切り替えます。\n\n- HTTPヘッダーの「認証情報」を本番アカウントのものに更新\n- 接続先のAPIエンドポイントのFQDNを以下のものに更新\n\n|環境|目的|FQDN|\n| :--- | :--- | :--- |\n|テスト環境|APIの接続を確認する|stg.openapi.mul-pay.jp|\n|本番環境|商用の取引を実行する|openapi.mul-pay.jp|\n\n<br>\n"
    },
    {
      "name": "versioning",
      "x-displayName": "バージョン管理",
      "description": "OpenAPIタイプのAPI仕様は順次アップグレードされ機能が追加されていきますが、加盟店様の稼働中システムに影響を与える破壊的変更は原則行いません。  \nそれでも破壊的変更を伴うアップグレード時は、数ヵ月前に加盟店様にご連絡いたします。  \n以下は破壊的変更ではなく、後方互換があるものとして扱われます。\n- エンドポイントの追加\n- Webhook通知、コールバック時イベント<span class=\"mp-oas-code\">event</span>の追加 (加盟店様側で新たなイベントを受け取れるための開発は必要です)\n- 設定任意リクエストパラメーターの追加\n- レスポンスパラメーターの追加\n- 設定任意リクエストHTTPヘッダー項目の追加\n- レスポンスHTTPヘッダー項目の追加\n- リクエストパラメーターに設定する文字列長・文字種・パターンの追加\n- 設定必須リクエストパラメーターを任意へ変更\n\nOpenAPIタイプのAPIリファレンス(OASファイル)とAPI仕様それぞれにバージョンがあります。  \n変更の内容は[変更履歴](#tag/changelog)を参照ください。  \n\n|種類|形式|表記の例|\n| :--- | :--- | :--- |\n|APIリファレンス<br>(OASファイル)<br>バージョン|[セマンティック・バージョニング](https://ja.wikipedia.org/wiki/セマンティックバージョニング)形式<br>|<span class=\"mp-oas-code\">1.0.1</span>|\n|APIバージョン|YYYY-MM(年月)形式|<span class=\"mp-oas-code\">2023-06</span>|\n\n<br>\n\n### APIリファレンス(OASファイル)バージョン\nOpenAPIタイプのAPIリファレンス、およびダウンロード可能なOpenAPI specification(OAS)ファイルのバージョンです。  \n以下の基準で各バージョンが上がります。  \n\n|バージョン|基準|\n| :--- | :--- |\n|メジャー (1番目の数字)|後方互換がない破壊的変更|\n|マイナー (2番目の数字)|仕様追加や変更・削除|\n|パッチ (3番目の数字)|軽微な仕様変更や説明の追加・修正|\n\n<br>\n\n### APIバージョン\n当サービスのAPI仕様のバージョン番号です。  \n後方互換がない破壊的変更を伴うリリース時の年月を新規に割りあてます。  \n[HTTPヘッダーのAPIバージョン](#tag/header)を設定することで破壊的変更前の仕様を保証します。  \n該当しないバージョン番号(年月)が設定されている場合、それより過去で最も近い年月のバージョンで動作します。  \nAPIバージョンは頻繁に上がりませんが、将来の破壊的変更に備えて予めHTTPヘッダーにバージョン番号または加盟店様システム構築時の年月を設定してください。  \n<br>\n例)  \nAPIバージョンが<span class=\"mp-oas-code\">2023-06</span>から<span class=\"mp-oas-code\">2024-06</span>にアップグレード  \nHTTPヘッダーのAPIバージョンに<span class=\"mp-oas-code\">2023-10</span>が設定されている場合は<span class=\"mp-oas-code\">2023-06</span>バージョンで動作  \nただし、<span class=\"mp-oas-code\">2023-13</span>のように日付の様式が正しくない場合は最新バージョンで動作  \n\n<br>\n"
    },
    {
      "name": "httpstatuscode",
      "x-displayName": "HTTPステータスコード",
      "description": "HTTPステータスコードは、APIリクエストに対する処理結果を表す3桁の数字です。  \nOpenAPIタイプでは、[RFC 7231, section 6](https://www.rfc-editor.org/rfc/rfc7231#section-6)の仕様に従って、以下の3つのカテゴリのHTTPステータスコードが返ります。  \n  - <span class=\"mp-oas-code\">2xx</span>はリクエストが正常に受け付けられ、当サービスで処理されたことを表します。\n  - <span class=\"mp-oas-code\">4xx</span>は接続方法やパラメーターが正しくないなどのリクエストに誤りがあることを表します。  \n  お客様のアカウント状態や残高に問題があり、支払いが完了できない場合のエラーも含まれます。  \n  - <span class=\"mp-oas-code\">5xx</span>は、当サービスまたは当サービスから先のネットワーク事業者、決済事業者に問題が発生していることを表します。  \n\nAPIごとに発生するHTTPステータスコードについては、各API仕様の<span class=\"mp-oas-code\">Responses</span>を確認してください。  \nただし、以下表の「種別」が「認証エラー」、「アクセスエラー」、「サービス利用不可」は、APIを受け付ける前のエラーであり、全てのAPIで発生する可能性があります。  \n|HTTP<br>ステータス<br>コード|種別|説明|\n|:---|:---|:---|\n|<span class=\"mp-oas-code\">200</span>|成功|照会系のリクエストは正常に処理されました。|\n|<span class=\"mp-oas-code\">201</span>|成功|更新系のリクエストは正常に処理されました。|\n|<span class=\"mp-oas-code\">202</span>|成功|更新系のリクエストが受け付けられ、完了のためには後続の処理が必要です。|\n|<span class=\"mp-oas-code\">400</span>|リクエストパラメーターエラー|パラメーターの内容が正しくない、または状態が不正なため、リクエストは処理できません。|\n|<span class=\"mp-oas-code\">401</span>|認証エラー|[APIの認証](#tag/authentication)情報が正しくないため、リクエストは受け付けられません。|\n|<span class=\"mp-oas-code\">402</span>|リクエストエラー|外部事業者にて支払い・承認・確定・取消リクエストが拒否されました。|\n|<span class=\"mp-oas-code\">404</span>|アクセスエラー|APIエンドポイントが無効であるため、リクエストは受け付けられません。|\n|<span class=\"mp-oas-code\">405</span>|アクセスエラー|HTTPメソッドが正しくないため、リクエストは受け付けられません。<br>リダイレクト時は<span class=\"mp-oas-code\">GET</span>、それ以外は<span class=\"mp-oas-code\">POST</span>です。|\n|<span class=\"mp-oas-code\">409</span>|二重リクエスト|二重リクエストのため、リクエストは受け付けられません。|\n|<span class=\"mp-oas-code\">415</span>|アクセスエラー|<span class=\"mp-oas-code\">Content-Type</span>ヘッダーが正しくないため、リクエストは受け付けられません。|\n|<span class=\"mp-oas-code\">429</span>|アクセスエラー|同時処理数が規定値を超えているため、リクエストは受け付けられません。|\n|<span class=\"mp-oas-code\">500</span>|当サービス内部のシステムエラー|当サービスのサーバーで問題が発生したため、リクエストを処理できませんでした。|\n|<span class=\"mp-oas-code\">502</span>|外部事業者のシステムエラー|外部事業者やネットワークで問題が発生したため、リクエストを処理できませんでした。|\n|<span class=\"mp-oas-code\">503</span>|サービス利用不可|当サービスがメンテナンス中のため、リクエストは受け付けられません。<br>このコードが返るメンテナンス情報は、6ヶ月前に加盟店様に通知します。|\n\n<br>\n"
    },
    {
      "name": "errors",
      "x-displayName": "エラーの情報",
      "description": "APIリクエストがエラーになると、前述の通り[HTTPステータスコード](#tag/httpstatuscode)は<span class=\"mp-oas-code\">4xx</span>、<span class=\"mp-oas-code\">5xx</span>が返ります。  \nレスポンスボディは[RFC 9457](https://www.rfc-editor.org/rfc/rfc9457)の仕様に従って以下のエラー情報がJSON形式で返ります。  \nHTTPレスポンスヘッダーの<span class=\"mp-oas-code\">Content-Type</span>は、<span class=\"mp-oas-code\">application/problem+json</span>です。\n\n|キー|説明|例|\n|:--|:--|:--|\n|type|エラーの説明ページURL<br>該当のエラーに説明ページがない場合は何も返りません|https://mp-faq.gmo-pg.com/s/article/D00923|\n|title|エラーの内容サマリー<br>エラーコードとして取り扱えます<br>一覧は以下の表を参照ください|invalid_parameter|\n|detail|エラーの詳細説明<br>エラーメッセージとして取り扱えます<br>全て英文です。|The value provided for parameter is invalid.(orderid)|\n|instance|エラーが発生したエンドポイント|/credit/charge|\n\n<span class=\"mp-oas-code\">title</span>パラメーター(エラーの内容サマリー)の一覧は以下の通りです。\n|title名|説明|HTTP<br>ステータス<br>コード|\n|:---|:---|:---|\n|invalid_contract|対象ショップの契約状態が無効であるか、ショップの設定が不足しています。|400|\n|invalid_header|リクエストヘッダーの値が不正です。|400|\n|invalid_parameter|リクエストパラメーターの書式または桁数が不正です。|400|\n|invalid_request|対象の取引に対して不正なリクエストです。|400|\n|invalid_status|対象の取引状態に対して処理できないリクエストです。|400|\n|missing_parameter|必須パラメーターが設定されていません。|400|\n|transaction_count_exceeded|同一取引に対する処理上限を超過しています。<br>所定の返金回数を超過した場合などに発生します。|400|\n|transaction_expired|処理期限を超過しています。<br>オーソリの有効期限超過後に確定を行った場合などに発生します。|400|\n|unauthorized_request|認証情報が正しくないか、許可されないIPアドレスのため、リクエストは受け付けられません。|401|\n|operation_aborted_by_user|お客様の操作により決済手続きが中止されました。|402|\n|card_declined|カード起因のエラーにより、リクエストが拒否されました。|402|\n|insufficient_balance|残高が不足しているため、リクエストが拒否されました。|402|\n|amount_limit_exceeded|上限金額を超過しているため、リクエストが拒否されました。|402|\n|processing_failure|決済事業者からエラーが返りました。<br>詳細は<span class=\"mp-oas-code\">detail</span>を参照ください。|402|\n|resource_not_found|APIエンドポイントが無効であるため、リクエストは受け付けられません。|404|\n|method_not_allowed|HTTPメソッドが正しくないため、リクエストは受け付けられません。<br>リダイレクト時は<span class=\"mp-oas-code\">GET</span>、それ以外は<span class=\"mp-oas-code\">POST</span>です。|405|\n|conflict|二重リクエストのため、リクエストは受け付けられません。|409|\n|unsupported_media_type|<span class=\"mp-oas-code\">Content-Type</span>ヘッダーが正しくないため、リクエストは受け付けられません。<br><span class=\"mp-oas-code\">application/json</span>のみに対応しています。|415|\n|too_many_requests|同時接続数の上限を超過しています。|429|\n|internal_server_error|当サービスのサーバーで問題が発生したため、リクエストを処理できませんでした。|500|\n|bad_gateway|外部事業者やネットワークで問題が発生したため、リクエストを処理できませんでした。|502|\n|maintenance|外部事業者によるメンテナンスのため、リクエストは受け付けられません。|502|\n|service_unavailable|当サービスがメンテナンス中のため、リクエストは受け付けられません。|503|\n\n以下はエラーレスポンスのサンプルです。\n```javascript\n{\n  \"type\":\"https://mp-faq.gmo-pg.com/s/article/XXXXXX\",\n  \"title\":\"invalid_parameter\",\n  \"detail\":\"The parameter value is invalid.(order.amount)\",\n  \"instance\":\"/credit/charge\"\n}\n```\n\n<br>\n"
    },
    {
      "name": "token",
      "x-displayName": "アクセストークン",
      "description": "支払いAPI、本人確認APIを利用するためのアクセストークンを発行します\n"
    },
    {
      "name": "creditcard",
      "x-displayName": "クレカ払い",
      "description": "クレカ払いで利用するAPIです。  \n### ご利用可能なカード\n以下の国際ブランドがついたクレジットカード・デビットカード、およびそのカード情報を登録したApple Pay、Google Payのお支払いに対応します。 \n- VISA\n- Mastercard\n- JCB\n- American Express\n- Diners Club  \n\n### テストカード番号\nテスト環境で利用可能なカード番号は、[テストカード一覧（マルペイDocs）](https://docs.mul-pay.jp/payment/credit/testcard)<sup>※</sup>を参照ください。  \n<small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>  \n上記ページの「正常カード扱いテスト手順」は、OpenAPIタイプでも利用可能です。  \n\n### 仮売上と確定\n「仮売上」については、こちらの[FAQページ](https://mp-faq.gmo-pg.com/s/article/F00024)を参照ください。  \n支払い要求のタイプ<span class=\"mp-oas-code\">creditChargeOptions.authorizationMode</span>が仮売上<span class=\"mp-oas-code\">AUTH</span>の取引は、[確定処理](#tag/order/operation/orderCapture)により売上が確定します。  \n仮売上の有効期限は60日後の23時59分59秒であり、詳細な日時は支払い完了後に返る仮売上有効日時<span class=\"mp-oas-code\">creditResult.captureExpiryDateTime</span>を確認してください。  \n例えば2020/1/8 17:00に仮売上の支払いをした場合、確定処理の期限は2020/3/8 23:59:59です。  \n支払い要求のタイプ<span class=\"mp-oas-code\">creditChargeOptions.authorizationMode</span>が即時売上<span class=\"mp-oas-code\">CAPTURE</span>の取引は、即座に売上が確定するため、確定処理は必要ありません。  \n\n### 処理シーケンス\n都度支払い、随時支払い、有効性確認の処理の流れを説明します。  \n処理のシーケンスは、3Dセキュア認証([EMV 3-D Secure](https://www.emvco.com/emv-technologies/3-d-secure/))と自動オーソリの有無で異なります。  \n不正検知サービスを利用する場合は、非同期モードの設定により処理のシーケンスが変わります。  \nいずれの場合も、[カード情報のトークン化](https://static.mul-pay.jp/doc/card-token)は本APIの呼び出し前に行ってください。  \n<details>\n<summary>3Dセキュア認証なし</summary>\n<br>\n3Dセキュア認証を利用しない場合、または仕向先カード会社が3Dセキュア認証に未対応のために認証が行われない場合のシーケンスです。\n<br>\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant acq as カード会社\npyr->>+brw: 支払い<br>or<br>カード登録\nbrw->>+mer: 支払い<br>or<br>カード登録\nmer->>+psp: /charge<br>or<br>/verifyCard<br>リクエスト\nNote right of psp: 3Dセキュア利用なし<br>または未対応カード\npsp->>+acq: オーソリ(信用照会)\nacq-->>-psp: オーソリ結果\npsp-->>-mer: /charge<br>or<br>/verifyCard<br>結果\nmer-->>-brw: 結果画面\nbrw-->>-pyr: 結果表示\n```\n\n</details>\n<br>\n<details>\n<summary>3Dセキュア認証・自動オーソリあり</summary>\n<br>\n3Dセキュア認証後に、自動でオーソリ(信用照会)をする<span class=\"mp-oas-code\">\"autoAuthorization\":true</span>場合のシーケンスです。<br>\n3Dセキュア認証に進むために、支払い、または有効性確認のレスポンス後にお客様のブラウザを指定のURLにリダイレクトします。<br>\n3Dセキュア認証後は自動でオーソリ(信用照会)が実行され、処理の完了をコールバックします。<br>\n支払い、または有効性確認の完了状況は、加盟店様コールバック後に<a href=\"#tag/order/operation/orderInquiry\">取引照会API(/order/inquiry)</a>を呼び出して確認してください。<br>\nブラウザが閉じられるなどのお客様の操作により加盟店様にコールバックされず、状態不整合となる可能性があります。<br>\n状態不整合を発生させたくない場合は、以下の「自動オーソリなし」のシーケンスを参照ください。\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant tds as 3Dセキュア<br>サーバー\nparticipant acq as カード会社\npyr->>+brw: 支払い<br>or<br>カード登録\nbrw->>+mer: 支払い<br>or<br>カード登録\nmer->>+psp: /charge<br>or<br>/verifyCard<br>リクエスト\npsp->>+tds: 認証初期化\ntds-->>-psp: 認証URL\npsp-->>-mer: リダイレクト<br>情報\nmer->>-brw: 認証開始URLへの<br>リダイレクト\nbrw->>brw: \nbrw->>+psp: \npsp->>-brw: 3DセキュアURLへのリダイレクト\nbrw->>brw: \nbrw->>+tds: \ntds->>-brw: 当サービスのコールバックURLへのリダイレクト\nbrw->>brw: \nbrw->>+psp: \npsp->>+tds: 認証依頼\ntds-->>-psp: 認証結果\nopt 認証チャレンジが必要な場合\n  psp->>-brw: チャレンジ画面へのリダイレクト\n  brw->>brw: \n  brw->>+tds: \n  tds-->>-brw: 認証チャレンジ画面\n  brw-->>-pyr: 認証画面\n  pyr->>+brw: パスワード入力\n  brw->>+tds: 本人認証情報\n  tds->>-brw: 当サービスのコールバックURLへのリダイレクト\n  brw->>brw: \n  brw->>+psp: \n  psp->>+tds: チャレンジ判定依頼\n  tds-->>-psp: チャレンジ結果\nend\npsp->>-brw: 当サービスのコールバックURLへのリダイレクト\nbrw->>brw: \nalt 認証失敗、チャレンジ失敗の場合\n  brw->>+psp: \n  psp->>-brw: 加盟店様コールバックURLへのリダイレクト\nelse 認証成功の場合\n  brw->>+psp: \n  psp->>+acq: オーソリ(信用照会)\n  acq-->>-psp: オーソリ結果\n  psp->>-brw: 加盟店様コールバックURLへのリダイレクト\nend\nbrw->>brw: \nbrw->>+mer: \nmer->>+psp: /order/inquiry<br>リクエスト\npsp-->>-mer: /order/inquiry<br>結果\nmer-->>-brw: 結果画面\nbrw-->>-pyr: 結果表示      \n```\n\n</details>\n<br>\n<details>\n<summary>3Dセキュア認証・自動オーソリなし</summary>\n<br>\n3Dセキュア認証後に、自動でオーソリ(信用照会)をしない<span class=\"mp-oas-code\">\"autoAuthorization\":false</span>場合のシーケンスです。<br>\n3Dセキュア認証に進むために、支払い、または有効性確認のレスポンス後にお客様のブラウザを指定のURLにリダイレクトします。<br>\n3Dセキュア認証後は認証処理の完了をコールバックします。<br>\nこの時点でオーソリ(信用照会)は完了していません。<br>\nコールバック後は加盟店様にて元の取引を特定し、<a href=\"#tag/creditcard/operation/tds2FinalizeCharge\">3Dセキュア後の支払い(/tds2/finalizeCharge)</a>、または<a href=\"#tag/creditcard/operation/tds2FinalizeVerification\">3Dセキュア後の有効性確認(/tds2/finalizeVerification)</a>を呼び出すことでオーソリ(信用照会)が行われます。\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant tds as 3Dセキュア<br>サーバー\nparticipant acq as カード会社\npyr->>+brw: 支払い<br>or<br>カード登録\nbrw->>+mer: 支払い<br>or<br>カード登録\nmer->>+psp: /charge<br>or<br>/verifyCard<br>リクエスト\npsp->>+tds: 認証初期化\ntds-->>-psp: 認証URL\npsp-->>-mer: リダイレクト<br>情報\nmer->>-brw: 認証開始URLへの<br>リダイレクト\nbrw->>brw: \nbrw->>+psp: \npsp->>-brw: 3DセキュアURLへのリダイレクト\nbrw->>brw: \nbrw->>+tds: \ntds->>-brw: 当サービスのコールバックURLへのリダイレクト\nbrw->>brw: \nbrw->>+psp: \npsp->>+tds: 認証依頼\ntds-->>-psp: 認証結果\nopt 認証チャレンジが必要な場合\n  psp->>-brw: チャレンジ画面へのリダイレクト\n  brw->>brw: \n  brw->>+tds: \n  tds-->>-brw: 認証チャレンジ画面\n  brw-->>-pyr: 認証画面\n  pyr->>+brw: パスワード入力\n  brw->>+tds: 本人認証情報\n  tds->>-brw: 当サービスのコールバックURLへのリダイレクト\n  brw->>brw: \n  brw->>+psp: \n  psp->>+tds: チャレンジ判定依頼\n  tds-->>-psp: チャレンジ結果\nend\npsp->>-brw: 加盟店様コールバックURLへのリダイレクト\nbrw->>brw: \nbrw->>+mer: \nmer->>+psp: /finalizeCharge<br>or<br>/finalizeVerification<br>リクエスト\nalt 認証失敗、チャレンジ失敗の場合\n  psp-->>mer: 3Dセキュア結果\nelse 認証成功の場合\n  psp->>+acq: オーソリ(信用照会)\n  acq-->>-psp: オーソリ結果\n  psp-->>-mer: /finalizeCharge<br>or<br>/finalizeVerification<br>結果\nend\nmer-->>-brw: 結果画面\nbrw-->>-pyr: 結果表示\n```\n</details>\n<br>\n<details>\n<summary>不正検知・同期モード</summary>\n<br>\n不正検知・同期モード<span class=\"mp-oas-code\">\"asyncMode\":false</span>の場合のシーケンスです。<br>\n不正検知APIの審査結果が返る後にレスポンスが返ります。\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant acq as カード会社\nparticipant frd as 不正防止<br>サービス\npyr->>+brw: 支払い\nbrw->>+mer: 支払い\nmer->>+psp: /charge<br>リクエスト\npsp->>+acq: オーソリ(信用照会)\nacq-->>-psp: オーソリ結果\npsp->>+frd: 不正検知リクエスト\nfrd-->>-psp: 審査結果\npsp-->>-mer: /charge<br>結果\nmer-->>-brw: 結果画面\nbrw-->>-pyr: 結果表示\n```\n</details>\n<br>\n<details>\n<summary>不正検知・非同期モード</summary>\n<br>\n不正検知・非同期モード<span class=\"mp-oas-code\">\"asyncMode\":true</span>の場合のシーケンスです。<br>\n不正検知APIの審査結果を待たずにレスポンスが返ります。\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant acq as カード会社\nparticipant frd as 不正検知<br>サービス\npyr->>+brw: 支払い\nbrw->>+mer: 支払い\nmer->>+psp: /charge<br>リクエスト\npsp->>+acq: オーソリ(信用照会)\nacq-->>-psp: オーソリ結果\npsp->>+frd: 不正検知リクエスト<br>(非同期)\npsp-->>-mer: /charge<br>結果\nmer-->>-brw: 結果画面\nbrw-->>-pyr: 結果表示\nfrd-->>-psp: 審査結果\nmer-->>+psp: /order/inquiry<br>リクエスト\npsp-->>-mer: /order/inquiry<br>結果<br>不正検知結果を含む\n```\n</details>\n"
    },
    {
      "name": "wallet",
      "x-displayName": "Pay払い",
      "description": "Pay払いで利用するAPIです。  \n\n### 処理シーケンス\n<details>\n<summary>「都度支払い」と「随時支払いのための利用承諾」のシーケンス</summary>\n<br>\n\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant pcp as Pay払い<br>事業者\npyr->>+brw: 「支払い/利用承諾」<br>ボタンクリック\nbrw->>+mer: 支払い/利用承諾\nmer->>+psp: Pay払い/利用承諾<br>charge/authorize account\npsp->>+pcp: 初期化\npcp-->>-psp: リダイレクトURL\npsp-->>-mer: リダイレクト情報\nmer->>-brw: 開始URLへの<br>リダイレクト\nbrw->>brw: \nbrw->>+psp: \npsp->>-brw: Pay払いURLへのリダイレクト\nbrw->>brw: \nbrw->>+pcp: \npcp-->>-brw: 認証画面\nbrw-->>-pyr: 認証画面表示\npyr->>+brw: パスワード入力等の認証\nbrw->>+pcp: 本人認証情報\npcp->>brw: 当サービスのコールバックURLへのリダイレクト\nbrw->>brw: \nbrw->>+psp: \npsp->>+pcp: 確定\npcp-->>-psp: 結果\npsp->>-brw: 加盟店様コールバックURLへのリダイレクト\nbrw->>brw: \nbrw->>+mer: \nmer->>+psp: 取引照会\npsp-->>-mer: 取引結果\nmer-->>-brw: 結果画面\nbrw-->>-pyr: 結果表示\n```\n\n</details>\n<br>\n<details>\n<summary>「随時支払い」のシーケンス</summary>\n<br>\n\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant pcp as Pay払い<br>事業者\npyr->>+brw: 「支払い」<br>ボタンクリック\nbrw->>+mer: 支払い\nmer->>+psp: Pay払い<br>on-file charge\npsp->>+pcp: 支払い要求\npcp-->>-psp: 支払い結果\npsp-->>-mer: 支払い結果\nmer-->>-brw: 結果画面\nbrw-->>-pyr: 結果表示\n```\n\n</details>\n<br>\n<details>\n<summary>「都度支払い（フロントエンド方式）」のシーケンス</summary>\n<br>\n\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant pcp as Pay払い<br>事業者 \npyr->>+brw:「支払い」<br>ボタンクリック\nbrw->>+mer: 支払い\nmer->>+psp: Pay払い<br>charge\npsp->>+pcp: 支払い前要求\npcp-->>-psp: 支払い前要求結果\npsp-->>-mer: 支払い前要求結果\nmer-->>-brw: 支払い前要求結果連携\nbrw->>+pcp: 支払い画面表示要求\npcp-->>-brw: \nbrw-->>-pyr: 支払い画面表示\npyr->>+brw:「支払い」<br>ボタンクリック\nbrw->>+pcp:支払い要求\npcp-->>-brw: 支払い結果返却      \nbrw->>+mer: 支払い結果連携\nmer->>+psp: 支払い後検証要求<br>verifyCharge\npsp-->>-mer: 支払い後検証結果\nmer-->>-brw: 結果画面\nbrw-->>-pyr: 結果表示\nopt 支払い後検証でステータス更新が行われず、<br/>非同期でステータス更新が行われた場合\n  pcp->>+psp: Webhook通知\n  psp->>+mer: Webhook通知   \nend\n```\n\n</details>\n"
    },
    {
      "name": "cash",
      "x-displayName": "現金払い",
      "description": "現金払いで利用するAPIです。\n"
    },
    {
      "name": "order",
      "x-displayName": "取引管理",
      "description": "各種取引管理のAPIです。\n"
    },
    {
      "name": "member",
      "x-displayName": "会員管理",
      "description": "各種会員管理のAPIです。\n"
    },
    {
      "name": "events",
      "x-displayName": "Webhook",
      "description": "加盟店様のサーバーで当サービスから送信するWebhookを受け取るためのAPI仕様です。\n"
    },
    {
      "name": "verify",
      "x-displayName": "本人確認",
      "description": "本人確認機能で利用するAPIです。  \n<br>\n\n### 処理シーケンス\n認証手段ごとの処理の流れを説明します。  \n\n<details>\n<summary>SMS認証</summary>\n<br>\n\n<br><br>\n\n```mermaid\n%%{\n init: {\n  'theme': 'base',\n  'themeVariables': {\n    'primaryColor': '#f0f2f5',\n    'primaryTextColor': '#001C40',\n    'noteBkgColor': '#d9f4fc',\n    'noteTextColor': '#001C40',\n    'noteBorderColor': '#54C5E8'\n  }\n }\n}%%\nsequenceDiagram\nactor pyr as お客様\nparticipant brw as ブラウザ\nparticipant mer as 加盟店様\nparticipant psp as 決済代行<br>(当サービス)\nparticipant sms as SMS配信事業者\npyr->>+brw:「認証開始」<br>ボタン押下\nbrw->>+mer: 認証開始\nmer->>+psp: /verification/start<br>リクエスト\npsp-->>-mer: リダイレクト情報\nmer->>-brw: 開始URLへのリダイレクト\nbrw->>brw: \nbrw->>+psp: \npsp-->>-brw:認証コード入力画面 \nbrw-->>-pyr: 認証コード<br>入力画面を表示\nbrw-)+psp: SMS送信リクエスト\npsp->>+sms: SMS送信リクエスト\nsms-->>psp: 結果\npsp--)-brw: 結果\nsms->>-pyr: 認証コードをSMSで通知\nopt 認証コードの再送信が行われた場合\n  pyr->>+brw: 「再送信」<br>ボタン押下\n  brw->>+psp: SMS送信リクエスト\n  psp->>+sms: SMS送信リクエスト\n  sms-->>psp: 結果\n  psp-->>-brw: 結果\n  brw-->>-pyr: 「再送信」<br>完了メッセージ\n  sms->>-pyr: 認証コードをSMSで通知\nend\npyr->>+brw: 認証コード入力\nbrw->>+psp: 認証コードの確認リクエスト\npsp->>-brw: 加盟店様のコールバックURLへのリダイレクト\nbrw->>brw: \nbrw->>+mer: \nmer-->>-brw: 次画面\nbrw-->>-pyr: 次画面を表示\n```\n</details>\n<br>\n\n### テスト環境の認証コード\nテスト環境ではSMS送信が行われないため、試験シナリオに応じた認証コードを入力してください。  \n\n<table>\n  <thead>\n    <tr>\n      <th rowspan=\"2\">シナリオ</th>\n      <th colspan=\"2\" style=\"text-align: center;\">認証コード</th>\n      <th rowspan=\"2\">説明</th>\n    </tr>\n    <tr>\n      <th style=\"text-align: center;\">6桁</th>\n      <th style=\"text-align: center;\">4桁</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>認証コード誤り</th>\n      <td style=\"text-align: center;\">777777</td>\n      <td style=\"text-align: center;\">7777</td>\n      <td>認証コードの照合に失敗します。<br>リトライ回数上限を超えた場合、<br>加盟店コールバックURLに遷移します。<br>認証ステータスは認証失敗<span class=\"mp-oas-code\">FAILURE</span>になります。</td>\n    </tr>\n    <tr>\n      <th>SMS送信失敗</th>\n      <td style=\"text-align: center;\">888888</td>\n      <td style=\"text-align: center;\">8888</td>\n      <td>認証コード入力画面への遷移後に<br>SMS送信が失敗した振る舞いをします。<br>画面にSMS送信ができなかった旨のメッセージが表示され、<br>加盟店コールバックURLには遷移しません。</td>\n    </tr>\n    <tr>\n      <th>当サービス<br>サーバエラー</th>\n      <td style=\"text-align: center;\">999999</td>\n      <td style=\"text-align: center;\">9999</td>\n      <td>認証コード入力後に、当サービスで<br>エラーが発生した振る舞いをします。<br>画面にエラーが発生した旨のメッセージが表示され、<br>加盟店コールバックURLには遷移しません。</td>\n    </tr>\n    <tr>\n      <th>認証成功</th>\n      <td style=\"text-align: center;\">上記以外</td>\n      <td style=\"text-align: center;\">上記以外</td>\n      <td>認証に成功し、加盟店コールバックURLに遷移します。<br>認証ステータスは認証成功<span class=\"mp-oas-code\">SUCCESS</span>になります。</td>\n    </tr>\n  </tbody>\n</table>\n\n<br>\n\n### SMSの文面\n本番環境でお客様の携帯電話に送信されるSMSメッセージは以下です。\n```html\n認証コード:123456  \nこのコードを認証画面で入力してください。\n```\n"
    },
    {
      "name": "faq",
      "x-displayName": "よくあるご質問(FAQ)",
      "description": "[PGマルチペイメントサービス 加盟店用 FAQサイト](https://mp-faq.gmo-pg.com/s/)を参照ください。\n"
    },
    {
      "name": "correspondence",
      "x-displayName": "プロトコルタイプ対応表",
      "description": "従来の接続方式であるプロトコルタイプからOpenAPIタイプへ移行する加盟店様向けの情報です。  \n各ユースケースに対応するエンドポイント及びその使用方法は以下の通りです。  \n## クレジットカード決済  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- お客様によるカード<br>&nbsp;&nbsp;情報入力<br>- トークン化あり<br>- 3Dセキュアなし<br>- 即時に売上を確定|1. カード情報をトークン化<br>2. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api#entrytran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>3. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api#exectran)<br>&nbsp;&nbsp;- 1で取得したトークンを設定|1. カード情報をトークン化<br>2. 都度支払い [/credit/charge](#tag/creditcard/operation/creditCharge)<br>&nbsp;&nbsp;- 1で取得したトークンを設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span>|\n|*お支払い*<br>- 登録済みのカード<br>&nbsp;&nbsp;情報を利用<br>- 3Dセキュアなし<br>- あとで売上を確定|1. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api#entrytran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>2. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api#exectran)<br>&nbsp;&nbsp;- 会員IDを設定<br>3. 決済変更 [/AlterTran.idPass](https://docs.mul-pay.jp/payment/credit/api#altertran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"SALES\"</span>|1. 随時支払い [/credit/on-file/charge](#tag/creditcard/operation/creditOnfileCharge)<br>&nbsp;&nbsp;- 会員IDを設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"AUTH\"</span><br>2. 確定 [/order/capture](#tag/order/operation/orderCapture)|\n|*お支払い*<br>- お客様によるカード<br>&nbsp;&nbsp;情報入力<br>- トークン化なし<br>- 3Dセキュアあり<br>- 自動オーソリなし|1. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#entrytran)<br>2. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#exectran)<br>&nbsp;&nbsp;- カード情報を設定<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL<br>4. 3DS2.0認証後決済実行 [/SecureTran2.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#securetran2)|1. 都度支払い [/credit/charge](#tag/creditcard/operation/creditCharge)<br>&nbsp;&nbsp;- カード情報を設定<br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 3Dセキュア後の支払い [/tds2/finalizeCharge](#tag/creditcard/operation/tds2FinalizeCharge)|\n|*お支払い*<br>- 登録済みのカード<br>&nbsp;&nbsp;情報を利用<br>- 3Dセキュアあり<br>- 自動オーソリあり|-<br>※プロトコルタイプは自動オーソリ<br>機能がありません。|1. 随時支払い [/credit/on-file/charge](#tag/creditcard/operation/creditOnfileCharge)<br>&nbsp;&nbsp;- 会員IDを設定<br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*有効性確認*<br>- お客様によるカード<br>&nbsp;&nbsp;情報入力<br>- トークン化あり<br>- 3Dセキュアなし|1. カード情報をトークン化<br>2. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api#entrytran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CHECK\"</span><br>3. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api#exectran)<br>&nbsp;&nbsp;- 1で取得したトークンを設定|1. カード情報をトークン化<br>2. 有効性確認 [/credit/verifyCard](#tag/creditcard/operation/creditVerifyCard)<br>&nbsp;&nbsp;- 1で取得したトークンを設定|\n|*有効性確認*<br>- お客様によるカード<br>&nbsp;&nbsp;情報入力<br>- トークン化なし<br>- 3Dセキュアあり<br>- 自動オーソリなし|1. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#entrytran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CHECK\"</span><br>2. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api#exectran)<br>&nbsp;&nbsp;- カード情報を設定<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL<br>4. 3DS2.0認証後決済実行 [/SecureTran2.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#securetran2)|1. 有効性確認 [/credit/verifyCard](#tag/creditcard/operation/creditVerifyCard)<br>&nbsp;&nbsp;- カード情報を設定<br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 3Dセキュア後の有効性確認 [/tds2/finalizeVerification](#tag/creditcard/operation/tds2FinalizeVerification)|\n|*有効性確認とカード登録*<br>- お客様によるカード<br>&nbsp;&nbsp;情報入力<br>- トークン化あり<br>- 3Dセキュアなし|1. 会員登録 [/SaveMember.idPass](https://docs.mul-pay.jp/payment/credit/apimember#savemember)<br>2. カード情報をトークン化<br>3. カード登録 [/SaveCard.idPass](https://docs.mul-pay.jp/payment/credit/apimember#savecard)<br>&nbsp;&nbsp;- 2で取得したトークンを設定|1. カード情報をトークン化<br>2. 有効性確認 [/credit/verifyCard](#tag/creditcard/operation/creditVerifyCard)<br>&nbsp;&nbsp;- 1で取得したトークンを設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"createNewMember\":true</span>|\n|*有効性確認とカード登録*<br>- お客様によるカード<br>&nbsp;&nbsp;情報入力<br>- トークン化なし<br>- 3Dセキュアあり<br>- 自動オーソリなし|1. 会員登録 [/SaveMember.idPass](https://docs.mul-pay.jp/payment/credit/apimember#savemember)<br>2. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#entrytran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CHECK\"</span><br>3. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#exectran)<br>&nbsp;&nbsp;- カード情報を設定<br>4. リダイレクト<br>&nbsp;&nbsp;- 3で返されたURL<br>5. 3DS2.0認証後決済実行 [/SecureTran2.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#securetran2)<br>6. 決済後カード登録 [/TradedCard.idPass](https://docs.mul-pay.jp/payment/credit/apimember#tradedcard)|1. 有効性確認 [/credit/verifyCard](#tag/creditcard/operation/creditVerifyCard)<br>&nbsp;&nbsp;- カード情報を設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"createNewMember\":true</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 3Dセキュア後の有効性確認 [/tds2/finalizeVerification](#tag/creditcard/operation/tds2FinalizeVerification)|\n|*お支払い後のカード登録*<br>- お客様によるカード<br>&nbsp;&nbsp;情報入力<br>- トークン化あり<br>- 3Dセキュアなし|1. カード情報をトークン化<br>2. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api#entrytran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>3. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api#exectran)<br>&nbsp;&nbsp;- 1で取得したトークンを設定<br>4. 会員登録 [/SaveMember.idPass](https://docs.mul-pay.jp/payment/credit/apimember#savemember)<br>5. 決済後カード登録 [/TradedCard.idPass](https://docs.mul-pay.jp/payment/credit/apimember#tradedcard)<br>&nbsp;&nbsp;- 2で返された取引IDを設定|1. カード情報をトークン化<br>2. 都度支払い [/credit/charge](#tag/creditcard/operation/creditCharge)<br>3. カード登録 [/credit/storeCard](#tag/creditcard/operation/creditStoreCard)<br>&nbsp;&nbsp;- 2で返された取引IDを設定|\n|*お支払い後のキャンセル*<br>- 登録済みのカード<br>&nbsp;&nbsp;情報を利用<br>- 3Dセキュアなし|1. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api#entrytran)<br>2. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api#exectran)<br>&nbsp;&nbsp;- 会員IDを設定<br>3. 決済変更 [/AlterTran.idPass](https://docs.mul-pay.jp/payment/credit/api#altertran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CANCEL\"</span>|1. 随時支払い [/credit/on-file/charge](#tag/creditcard/operation/creditOnfileCharge)<br>&nbsp;&nbsp;- 会員IDを設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. キャンセル [/order/cancel](#tag/order/operation/orderCancel)|\n|*お支払い後の金額変更*<br>- 登録済みのカード<br>&nbsp;&nbsp;情報を利用<br>- 3Dセキュアなし|1. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api#entrytran)<br>2. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api#exectran)<br>&nbsp;&nbsp;- 会員IDを設定<br>3. 金額変更 [/ChangeTran.idPass](https://docs.mul-pay.jp/payment/credit/api#changetran)<br>&nbsp;&nbsp;- 変更後の金額を設定|1. 随時支払い [/credit/on-file/charge](#tag/creditcard/operation/creditOnfileCharge)<br>&nbsp;&nbsp;- 会員IDを設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. 金額変更 [/order/update](#tag/order/operation/orderUpdate)<br>&nbsp;&nbsp;- 変更後の金額を設定|\n\n## Google Pay  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- 3Dセキュアなし<br>- 即時に売上を確定|1. Google Payトークンを取得<br>2. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api#entrytran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>3. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api#exectran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"TokenType\":\"2\"</span><br>&nbsp;&nbsp;- 1で取得したトークンを設定|1. Google Payトークンを取得<br>2. 都度支払い [/credit/charge](#tag/creditcard/operation/creditCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"tokenizedCard.type\":\"GOOGLE_PAY_TOKEN\"</span><br>&nbsp;&nbsp;- 1で取得したトークンを設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span>|\n|*お支払い*<br>- 3Dセキュアあり<br>- 自動オーソリなし<br>- あとで売上を確定|1. Google Payトークンを取得<br>2. 取引登録 [/EntryTran.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#entrytran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>3. 決済実行 [/ExecTran.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#exectran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"TokenType\":\"2\"</span><br>&nbsp;&nbsp;- 1で取得したトークンを設定<br>4. リダイレクト<br>&nbsp;&nbsp;- 3で返されたURL<br>5. 3DS2.0認証後決済実行 [/SecureTran2.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#securetran2)<br>6. 決済変更 [/AlterTran.idPass](https://docs.mul-pay.jp/payment/credit/api3ds2#altertran)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"SALES\"</span>|1. Google Payトークンを取得<br>2. 都度支払い [/credit/charge](#tag/creditcard/operation/creditCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"tokenizedCard.type\":\"GOOGLE_PAY_TOKEN\"</span><br>&nbsp;&nbsp;- 1で取得したトークンを設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL<br>4. 3Dセキュア後の支払い [/tds2/finalizeCharge](#tag/creditcard/operation/tds2FinalizeCharge)<br>5. 確定 [/order/capture](#tag/order/operation/orderCapture)|\n\n## Apple Pay  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- 即時に売上を確定|1. Apple Payトークンを取得<br>2. 取引登録 [/EntryTranBrandtoken.idPass](https://docs.mul-pay.jp/brandtoken/api#entrytranbrandtoken)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>3. 決済実行 [/ExecTranBrandtoken.idPass](https://docs.mul-pay.jp/brandtoken/api#exectranbrandtoken)<br>&nbsp;&nbsp;- 1で取得したトークンを設定|1. Apple Payトークンを取得<br>2. 都度支払い [/credit/charge](#tag/creditcard/operation/creditCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"tokenizedCard.type\":\"APPLE_PAY_TOKEN\"</span><br>&nbsp;&nbsp;- 1で取得したトークンを設定<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span>|\n\n## PayPay  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- あとで売上を確定|1. 取引登録 [/EntryTranPaypay.idPass](https://docs.mul-pay.jp/paypay/payg-api#entrytranpaypay)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>2. 決済実行 [/ExecTranPaypay.idPass](https://docs.mul-pay.jp/paypay/payg-api#exectranpaypay)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"AUTH\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*お支払い*<br>- 即時に売上を確定|1. 取引登録 [/EntryTranPaypay.idPass](https://docs.mul-pay.jp/paypay/payg-api#entrytranpaypay)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>2. 決済実行 [/ExecTranPaypay.idPass](https://docs.mul-pay.jp/paypay/payg-api#exectranpaypay)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*お支払い*<br>- PayPay画面への遷移なし<br>- あとで売上を確定|1. 取引登録 [/EntryTranPaypaySmart.idPass](https://docs.mul-pay.jp/paypay/payg-api#entrytranpaypaysmart)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>2. 決済実行 [/ExecTranPaypaySmart.idPass](https://docs.mul-pay.jp/paypay/payg-api#exectranpaypaysmart)<br>3. 加盟店様画面上でお客様がお支払い<br>4.決済検証|1. 都度支払い（フロントエンド方式） [/wallet/front-end/charge](#tag/wallet/operation/walletFrontendCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"AUTH\"</span><br>2. 加盟店様画面上でお客様がお支払い<br>3. 支払い後検証（フロントエンド方式）[/wallet/front-end/verifyCharge](#tag/wallet/operation/walletFrontendVerifyCharge)<br>4. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*お支払い*<br>- PayPay画面への遷移なし<br>- 即時に売上を確定|1. 取引登録 [/EntryTranPaypaySmart.idPass](https://docs.mul-pay.jp/paypay/payg-api#entrytranpaypaysmart)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>2. 決済実行 [/ExecTranPaypaySmart.idPass](https://docs.mul-pay.jp/paypay/payg-api#exectranpaypaysmart)<br>3. 加盟店様画面上でお客様がお支払い<br>4.決済検証|1. 都度支払い（フロントエンド方式） [/wallet/front-end/charge](#tag/wallet/operation/walletFrontendCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. 加盟店様画面上でお客様がお支払い<br>3. 支払い後検証（フロントエンド方式）[/wallet/front-end/verifyCharge](#tag/wallet/operation/walletFrontendVerifyCharge)<br>4. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n\n## d払い  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- あとで売上を確定|1. 取引登録 [/EntryTranDocomo.idPass](https://docs.mul-pay.jp/docomo/payg/api#entrytrandocomo)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>2. 決済実行 [/ExecTranDocomo.idPass](https://docs.mul-pay.jp/docomo/payg/api#exectrandocomo)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"DOCOMO\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"AUTH\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*お支払い*<br>- 即時に売上を確定|1. 取引登録 [/EntryTranDocomo.idPass](https://docs.mul-pay.jp/docomo/payg/api#entrytrandocomo)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>2. 決済実行 [/ExecTranDocomo.idPass](https://docs.mul-pay.jp/docomo/payg/api#exectrandocomo)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"DOCOMO\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n\n## Amazon Pay V2  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- あとで売上を確定|1. 住所情報参照 [/SearchAddressAmazonpay.idPass](https://docs.mul-pay.jp/amazonpay/payg-api#searchaddressamazonpay)<br>2. 取引登録 [/EntryTranAmazonpay.idPass](https://docs.mul-pay.jp/amazonpay/payg-api#entrytranamazonpay)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>3. 決済実行 [/ExecTranAmazonpay.idPass](https://docs.mul-pay.jp/amazonpay/payg-api#exectranamazonpay)<br>4. リダイレクト<br>&nbsp;&nbsp;- 3で返されたURL|1. 購入者情報取得 [/wallet/getCustomerData](#tag/wallet/operation/walletGetCustomerData)<br>2. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"AMAZON\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"AUTH\"</span><br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL<br>4. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*お支払い*<br>- 即時に売上を確定|1. 取引登録 [/EntryTranAmazonpay.idPass](https://docs.mul-pay.jp/amazonpay/payg-api#entrytranamazonpay)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>2. 決済実行 [/ExecTranAmazonpay.idPass](https://docs.mul-pay.jp/amazonpay/payg-api#exectranamazonpay)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"AMAZON\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*確定後のキャンセル*|1. キャンセル [/AmazonpayCancel.idPass](https://docs.mul-pay.jp/amazonpay/payg-api#amazonpaycancel)<br>2. 返金完了通知を受信 [結果通知](https://docs.mul-pay.jp/amazonpay/notice)|1. キャンセル [/order/cancel](#tag/order/operation/orderCancel)<br>2. Amazon Pay V2キャンセル結果通知を受信 [Webhook](#tag/events/operation/amazonPayCancelWebhook)|\n\n## 楽天ペイ(オンライン決済)V2  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- あとで売上を確定|1. 取引登録 [/EntryTranRakutenpay.idPass](https://docs.mul-pay.jp/rakutenpayv2/payg-api#entrytranrakutenpay)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>2. 決済実行 [/ExecTranRakutenpay.idPass](https://docs.mul-pay.jp/rakutenpayv2/payg-api#exectranrakutenpay)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"RAKUTEN\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"AUTH\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*お支払い*<br>- 即時に売上を確定|1. 取引登録 [/EntryTranRakutenpay.idPass](https://docs.mul-pay.jp/rakutenpayv2/payg-api#entrytranrakutenpay)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>2. 決済実行 [/ExecTranRakutenpay.idPass](https://docs.mul-pay.jp/rakutenpayv2/payg-api#exectranrakutenpay)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"RAKUTEN\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n\n## au PAY(ネット支払い)アプリ方式\n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- あとで売上を確定|1. 取引登録 [/EntryTranAupayApp.idPass](https://docs.mul-pay.jp/aupayapp/api#entrytranaupayapp)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>2. 決済実行 [/ExecTranAupayApp.idPass](https://docs.mul-pay.jp/aupayapp/api#exectranaupayapp)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"AU_APP\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"AUTH\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*お支払い*<br>- 即時に売上を確定|1. 取引登録 [/EntryTranAupayApp.idPass](https://docs.mul-pay.jp/aupayapp/api#entrytranaupayapp)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>2. 決済実行 [/ExecTranAupayApp.idPass](https://docs.mul-pay.jp/aupayapp/api#exectranaupayapp)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"AU_APP\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n\n## メルペイ  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*<br>- あとで売上を確定|1. 取引登録 [/EntryTranMerpay.idPass](https://docs.mul-pay.jp/merpay/payg-api#entrytranmerpay)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"AUTH\"</span><br>2. 決済実行 [/ExecTranMerpay.idPass](https://docs.mul-pay.jp/merpay/payg-api#exectranmerpay)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"MERPAY\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"AUTH\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n|*お支払い*<br>- 即時に売上を確定|1. 取引登録 [/EntryTranMerpay.idPass](https://docs.mul-pay.jp/merpay/payg-api#entrytranmerpay)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"JobCode\":\"CAPTURE\"</span><br>2. 決済実行 [/ExecTranMerpay.idPass](https://docs.mul-pay.jp/merpay/payg-api#exectranmerpay)<br>3. リダイレクト<br>&nbsp;&nbsp;- 2で返されたURL|1. 都度支払い [/wallet/charge](#tag/wallet/operation/walletCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"walletType\":\"MERPAY\"</span><br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"authorizationMode\":\"CAPTURE\"</span><br>2. リダイレクト<br>&nbsp;&nbsp;- 1で返されたURL<br>3. 照会 [/order/inquiry](#tag/order/operation/orderInquiry)|\n\n## コンビニ決済  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*|1. 取引登録 [/EntryTranCvs.idPass](https://docs.mul-pay.jp/cvs/api#entrytrancvs)<br>2. 決済実行 [/ExecTranCvs.idPass](https://docs.mul-pay.jp/cvs/api#exectrancvs)<br>3. 入金通知を受信 [結果通知](https://docs.mul-pay.jp/cvs/notice)|1. 支払い番号発行 [/cash/charge](#tag/cash/operation/cashCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"cashType\":\"KONBINI\"</span><br>2. 現金払い支払い完了通知を受信 [Webhook](#tag/events/operation/cashWebhook)|\n\n## Pay-easy決済  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*|1. 取引登録 [/EntryTranPayEasy.idPass](https://docs.mul-pay.jp/payeasy/api#entrytranpayeasy)<br>2. 決済実行 [/ExecTranPayEasy.idPass](https://docs.mul-pay.jp/payeasy/api#exectranpayeasy)<br>3. 入金通知を受信 [結果通知](https://docs.mul-pay.jp/payeasy/notice)|1. 支払い番号発行 [/cash/charge](#tag/cash/operation/cashCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"cashType\":\"PAYEASY\"</span><br>2. 現金払い支払い完了通知を受信 [Webhook](#tag/events/operation/cashWebhook)|\n\n## 銀行振込(バーチャル口座)  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*|1. 取引登録 [/EntryTranVirtualaccount.idPass](https://docs.mul-pay.jp/virtualaccount/api1#entrytranvirtualaccount)<br>2. 決済実行 [/ExecTranVirtualaccount.idPass](https://docs.mul-pay.jp/virtualaccount/api1#exectranvirtualaccount)<br>3. 入金通知を受信 [結果通知](https://docs.mul-pay.jp/virtualaccount/notice)|1. 支払い番号発行 [/cash/charge](#tag/cash/operation/cashCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"cashType\":\"BANK_TRANSFER_SMBC\"</span><br>2. 現金払い支払い完了通知を受信 [Webhook](#tag/events/operation/cashWebhook)|\n\n## 銀行振込(バーチャル口座 あおぞら)  \n|ユースケース|プロトコルタイプの<br>エンドポイント及びその利用方法|OpenAPIタイプの<br>エンドポイント及びその利用方法|\n|---|---|---|\n|*お支払い*|1. 取引登録 [/EntryTranGANB.idPass](https://docs.mul-pay.jp/ganb/api#entrytranganb)<br>2. 決済実行 [/ExecTranGANB.idPass](https://docs.mul-pay.jp/ganb/api#exectranganb)<br>3. 入金通知を受信 [結果通知](https://docs.mul-pay.jp/ganb/notice)|1. 支払い番号発行 [/cash/charge](#tag/cash/operation/cashCharge)<br>&nbsp;&nbsp;- <span class=\"mp-oas-code\">\"cashType\":\"BANK_TRANSFER_GMO_AOZORA\"</span><br>2. 現金払い支払い完了通知を受信 [Webhook](#tag/events/operation/cashWebhook)|\n"
    },
    {
      "name": "common-parameters",
      "x-displayName": "共通パラメーター表",
      "description": "<span class=\"mp-oas-code\">merchant</span> <span class=\"mp-oas-code\">order</span> <span class=\"mp-oas-code\">payer</span>は、全ての支払いタイプで共通のパラメーターです。  \n設定した値は、各決済手段ごとに以下の目的で利用されます。  \nその決済手段で利用されないパラメーターは「-」で表しており、設定した値は無視されます。\n\n## クレカ払い\n\n###  merchant\n||クレジットカード決済|Google Pay|Apple Pay|ReD Shield|\n|---|---|---|---|---|\n|name|3Dセキュア認証画面に表示|-|-|-|\n|nameKana|-|-|-|-|\n|nameAlphabet|3Dセキュアの認証画面に表示<br>※nameが正しく表示<br>できない場合|-|-|-|\n|nameShort|-|-|-|-|\n|contactName|-|-|-|-|\n|contactEmail|-|-|-|-|\n|contactUrl|-|-|-|-|\n|contactPhone|-|-|-|-|\n|contactOpeningHours|-|-|-|-|\n\n###  order\n||クレジットカード決済|Google Pay|Apple Pay|ReD Shield|\n|---|---|---|---|---|\n|currency|-|-|-|不正審査に利用|\n|items.name|-|-|-|不正審査に利用|\n|items.description|-|-|-|不正審査に利用|\n|items.quantity|-|-|-|不正審査に利用|\n|items.type|-|-|-|不正審査に利用|\n|items.price|-|-|-|不正審査に利用|\n|items.category|-|-|-|不正審査に利用|\n|items.productId|-|-|-|不正審査に利用|\n|items.productCode|-|-|-|不正審査に利用|\n|transactionType|-|-|-|-|\n|shippingAddress.name|-|-|-|不正審査に利用|\n|shippingAddress.line1|3Dセキュア認証に利用|-|-|不正審査に利用|\n|shippingAddress.line2|3Dセキュア認証に利用|-|-|不正審査に利用|\n|shippingAddress.line3|3Dセキュア認証に利用|-|-|不正審査に利用|\n|shippingAddress.city|3Dセキュア認証に利用|-|-|-|\n|shippingAddress.state|3Dセキュア認証に利用|-|-|不正審査に利用|\n|shippingAddress.postCode|3Dセキュア認証に利用|-|-|不正審査に利用|\n|shippingAddress.country|3Dセキュア認証に利用|-|-|不正審査に利用|\n|billingAddress.name|-|-|-|不正審査に利用|\n|billingAddress.line1|3Dセキュア認証に利用|-|-|不正審査に利用|\n|billingAddress.line2|3Dセキュア認証に利用|-|-|不正審査に利用|\n|billingAddress.line3|3Dセキュア認証に利用|-|-|不正審査に利用|\n|billingAddress.city|3Dセキュア認証に利用|-|-|-|\n|billingAddress.state|3Dセキュア認証に利用|-|-|不正審査に利用|\n|billingAddress.postCode|3Dセキュア認証に利用|-|-|不正審査に利用|\n|billingAddress.country|3Dセキュア認証に利用|-|-|不正審査に利用|\n\n###  payer\n||クレジットカード決済|Google Pay|Apple Pay|ReD Shield|\n|---|---|---|---|---|\n|name|-|-|-|-|\n|nameKana|-|-|-|-|\n|nameAlphabet|-|-|-|-|\n|gender|-|-|-|不正審査に利用|\n|dateOfBirth|-|-|-|不正審査に利用|\n|email|3Dセキュア認証に利用 <sup>*1</sup>|-|-|不正審査に利用|\n|deliveryEmail|3Dセキュア認証に利用|-|-|-|\n|phones.type|3Dセキュア認証に利用 <sup>*1 *2 *3</sup>|-|-|-|\n|phones.countryCode|3Dセキュア認証に利用 <sup>*1 *2 *3</sup>|-|-|-|\n|phones.number|3Dセキュア認証に利用 <sup>*1 *2 *3</sup>|-|-|不正審査に利用|\n|accountId|-|-|-|-|\n|ip|-|-|-|不正審査に利用|\n|deviceType|-|-|-|-|\n|httpUserAgent|-|-|-|-|\n\n*1：3Dセキュア認証時にはお客様のメールアドレス、電話番号いずれかの設定が必要です。未設定でもエラーにはなりませんが、この仕様は変更になる可能性があります。  \n*2：3Dセキュア認証で利用するためには<span class=\"mp-oas-code\">phones.type</span>、<span class=\"mp-oas-code\">phones.countryCode</span>、<span class=\"mp-oas-code\">phones.number</span>の3つ全ての設定が必要です。<span class=\"mp-oas-code\">phones.type</span>は<span class=\"mp-oas-code\">MOBILE</span>/<span class=\"mp-oas-code\">HOME</span>/<span class=\"mp-oas-code\">WORK</span>のいずれかを設定してください。  \n*3：複数指定した場合は1番目の要素を使用します。  \n\n## Pay払い\n\n###  merchant\n||PayPay|d払い|楽天ペイ(オンライン決済)V2|Amazon Pay V2|au PAY(ネット支払い)アプリ方式|メルペイ|Alipay|\n|---|---|---|---|---|---|---|---|\n|name|-|決済画面、レシートメール、<br>利用明細に表示<br>※EUC-JPで32byteを超える部分は切り捨てられます|-|-|-|-|決済画面に表示|\n|nameKana|-|-|-|-|-|-|-|\n|nameAlphabet|-|-|-|-|-|-|-|\n|nameShort|-|-|-|-|-|-|-|\n|contactName|-||-|-|-|-|-|\n|contactEmail|-|レシートメール、利用明細に表示|-|-|-|-|-|\n|contactUrl|-|レシートメール、利用明細に表示|-|-|-|-|-|\n|contactPhone|-|レシートメール、利用明細に表示|-|-|-|-|-|\n|contactOpeningHours|-|-|-|-|-|-|-|\n\n###  order\n||PayPay|d払い|楽天ペイ(オンライン決済)V2|Amazon Pay V2|au PAY(ネット支払い)アプリ方式|メルペイ|Alipay|\n|---|---|---|---|---|---|---|---|\n|currency|-|-|-|-|-|-|-|\n|items.name|-|-|都度支払いでは楽天ペイ管理画面に表示 <sup>*2</sup><br>※セミコロンで連結して300桁を超えた場合、超えた要素は切り捨てられます<br>利用承諾では楽天ペイの認証画面および申込履歴上に表示|-|-|かんたん出品連携に利用<br>利用承諾のみメルカリアプリに表示 <br>※20桁を超える部分は切り捨てられます<br>※複数指定時は1番目の要素のみアプリに表示されます|-|\n|items.description|-|-|-|-|-|かんたん出品連携に利用<br>利用承諾のみメルカリアプリに表示<br>※複数指定時は1番目の要素のみアプリに表示されます|決済画面に表示 <sup>*2</sup>|\n|items.quantity|-|-|-|-|-|かんたん出品連携に利用|-|\n|items.type|-|-|-|-|-|-|-|\n|items.price|-|-|-|-|-|かんたん出品連携に利用|-|\n|items.category|-|-|-|-|-|かんたん出品連携に利用|-|\n|items.productId|-|-|-|-|-|かんたん出品連携に利用|-|\n|items.productCode|-|-|-|-|-|かんたん出品連携に利用|-|\n|transactionType|-|-|-|-|-|-|-|\n|shippingAddress.name|-|-|-|決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1</sup><br>※UTF-8で50byteを超える部分は切り捨てられます|-|-|-|\n|shippingAddress.line1|-|-|-| 決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1</sup>|-|-|-|\n|shippingAddress.line2|-|-|-|決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1</sup><br>※UTF-8で60byteを超える部分は切り捨てられます|-|-|-|\n|shippingAddress.line3|-|-|-|決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1</sup><br>※UTF-8で60byteを超える部分は切り捨てられます|-|-|-|\n|shippingAddress.city|-|-|-|決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1</sup>|-|-|-|\n|shippingAddress.state|-|-|-|決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1</sup>|-|-|-|\n|shippingAddress.postCode|-|-|-| 決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1</sup>|-|-|-|\n|shippingAddress.country|-|-|-|決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1</sup>|-|-|-|\n|billingAddress.name|-|-|-|-|-|-|-|\n|billingAddress.line1|-|-|-|-|-|-|-|\n|billingAddress.line2|-|-|-|-|-|-|-|\n|billingAddress.line3|-|-|-|-|-|-|-|\n|billingAddress.city|-|-|-|-|-|-|-|\n|billingAddress.state|-|-|-|-|-|-|-|\n|billingAddress.postCode|-|-|-|-|-|-|-|\n|billingAddress.country|-|-|-|-|-|-|-|\n\n*1：物販など住所情報を使用する場合(<span class=\"mp-oas-code\">walletInformation.amazonPay.apbType</span>が<span class=\"mp-oas-code\">PayAndShip</span>のとき)に利用します。  \n*2：複数指定した場合は1番目の要素を使用します。  \n\n###  payer\n||PayPay|d払い|楽天ペイ(オンライン決済)V2|Amazon Pay V2|au PAY(ネット支払い)アプリ方式|メルペイ|Alipay|\n|---|---|---|---|---|---|---|---|\n|name|-|-|-|-|-|-|-|\n|nameKana|-|-|-|-|-|-|-|\n|nameAlphabet|-|-|-|-|-|-|-|\n|gender|-|-|-|-|-|-|-|\n|dateOfBirth|-|-|-|-|-|-|-|\n|email|-|-|-|-|-|-|-|\n|deliveryEmail|-|-|-|-|-|-|-|\n|phones.type|-|-|-|-|-|-|-|\n|phones.countryCode|-|-|-|-|-|-|-|\n|phones.number|-|-|-|決済画面に表示、支払い保証ポリシーの検証に利用 <sup>*1 *2</sup>|-|-|-|\n|accountId|-|-|-|-|-|-|-|\n|ip|-|-|-|-|-|-|-|\n|deviceType|-|-|-|-|-|-|-|\n|osType|-|-|-|-|-|-|<span class=\"mp-oas-code\">transitionType</span>が<span class=\"mp-oas-code\">APP_LINK</span>の場合、デバイスのOS判定に利用|\n|httpUserAgent|-|-|-|-|-|流入経路解析に利用|-|\n\n*1：物販など住所情報を使用する場合(<span class=\"mp-oas-code\">walletInformation.amazonPay.apbType</span>が<span class=\"mp-oas-code\">PayAndShip</span>のとき)に利用します。  \n*2：複数指定した場合は1番目の要素を使用します。  \n\n## 現金払い\n\n###  merchant\n||コンビニ決済|Pay-easy決済|銀行振込(バーチャル口座)|銀行振込(バーチャル口座 あおぞら)|\n|---|---|---|---|---|\n|name|-|-|-|-|\n|nameKana|-|-|-|-|\n|nameAlphabet|-|-|-|-|\n|nameShort|-|-|-|-|\n|contactName|Loppi・ファミリーマートのマルチ<br>コピー機支払い後の受領書に表示<br>※EUC-JPで42byteを超える部分は切り捨てられます|-|-|-|\n|contactEmail|-|-|-|-|\n|contactUrl|-|-|-|-|\n|contactPhone|Loppi・ファミリーマートのマルチ<br>コピー機支払い後の受領書に表示|-|-|-|\n|contactOpeningHours|Loppi・ファミリーマートのマルチ<br>コピー機支払い後の受領書に表示|-|-|-|\n\n###  order\n||コンビニ決済|Pay-easy決済|銀行振込(バーチャル口座)|銀行振込(バーチャル口座 あおぞら)|\n|---|---|---|---|---|\n|currency|-|-|-|-|\n|items.name|-|-|振込依頼メールに表示<sup>*1</sup><br>※EUC-JPで64byteを超える部分は切り捨てられます|振込依頼メールに表示<sup>*1</sup><br>※64桁を超える部分は切り捨てられます|\n|items.description|-|-|-|-|\n|items.quantity|-|-|-|-|\n|items.type|-|-|-|-|\n|items.price|-|-|-|-|\n|items.category|-|-|-|-|\n|items.productId|-|-|-|-|\n|items.productCode|-|-|-|-|\n|transactionType|-|-|-|-|\n|shippingAddress.name|-|-|-|-|\n|shippingAddress.line1|-|-|-|-|\n|shippingAddress.line2|-|-|-|-|\n|shippingAddress.line3|-|-|-|-|\n|shippingAddress.city|-|-|-|-|\n|shippingAddress.state|-|-|-|-|\n|shippingAddress.postCode|-|-|-|-|\n|shippingAddress.country|-|-|-|-|\n|billingAddress.name|-|-|-|-|\n|billingAddress.line1|-|-|-|-|\n|billingAddress.line2|-|-|-|-|\n|billingAddress.line3|-|-|-|-|\n|billingAddress.city|-|-|-|-|\n|billingAddress.state|-|-|-|-|\n|billingAddress.postCode|-|-|-|-|\n|billingAddress.country|-|-|-|-|\n\n*1：複数指定した場合は1番目の要素を使用します。  \n\n####  payer\n||コンビニ決済|Pay-easy決済|銀行振込(バーチャル口座)|銀行振込(バーチャル口座 あおぞら)|\n|---|---|---|---|---|\n|name|支払い画面、払込票に表示<br>※EUC-JPで40byteを超える部分は切り捨てられます|ATM画面、利用明細に表示<br>※EUC-JPで40byteを超える部分は切り捨てられます|振込依頼メールに表示|振込依頼メールに表示|\n|nameKana|-|-|-|-|\n|nameAlphabet|-|-|-|-|\n|gender|-|-|-|-|\n|dateOfBirth|-|-|-|-|\n|email|「コンビニ決済お支払番号のお知らせ」メール送信先|「Pay-easy決済お支払番号のお知らせ」メール送信先|振込依頼メール送信先|振込依頼メール送信先|\n|deliveryEmail|-|-|-|-|\n|phones.type|-|-|-|-|\n|phones.countryCode|-|-|-|-|\n|phones.number|ファミリーマートのレシートにマスク表示<sup>*1</sup>|利用明細に表示<sup>*1</sup>|-|-|\n|accountId|-|-|-|-|\n|ip|-|-|-|-|\n|deviceType|-|-|-|-|\n|httpUserAgent|-|-|-|-|\n\n*1：複数指定した場合は1番目の要素を使用します。  \n"
    },
    {
      "name": "changelog",
      "x-displayName": "変更履歴",
      "description": "## ＡＰＩリファレンスバージョン\n\n### v1.6.2 - 2025-03-18\n- <span class=\"mp-oas-code\">allowAttempt</span>の説明を修正\n- <span class=\"mp-oas-code\">enableDuplicationCheck</span>の説明を修正\n\n### v1.6.1 - 2025-02-25\n- リクエスト・レスポンスパラメーターの説明を改善\n  - <span class=\"mp-oas-code\">cashInformation.cashOptions.paymentPeriod</span>の説明を修正\n  - <span class=\"mp-oas-code\">shippingAddress.line1</span>、<span class=\"mp-oas-code\">shippingAddress.line2</span>、<span class=\"mp-oas-code\">shippingAddress.line3</span>の説明を修正\n- [共通パラメーター表](#tag/common-parameters)の説明を追加\n  - <span class=\"mp-oas-code\">payer.phones</span>、<span class=\"mp-oas-code\">order.items</span>などオブジェクトの配列で複数の要素が設定された場合に制限があるパラメーターについて説明を追加\n\n### v1.6.0 - 2025-01-29\n- [Pay払い 都度支払い](#tag/wallet/operation/walletCharge)の<span class=\"mp-oas-code\">WalletType</span>に<span class=\"mp-oas-code\">ALIPAY</span>を追加\n- [Pay払い 都度支払い](#tag/wallet/operation/walletCharge)のリクエストに購入者のデバイスのOS<span class=\"mp-oas-code\">osType</span>、Pay払いの決済事業者へのリダイレクト方式 <span class=\"mp-oas-code\">transitionType</span> を追加\n- レスポンスパラメーターのサンプルにおける<span class=\"mp-oas-code\">cardNumber</span>の誤りを修正\n- 表記揺れの修正、用語の統一\n\n### v1.5.2 - 2024-11-25\n- <span class=\"mp-oas-code\">merchant.contactEmail</span>スキーマを必須パラメータから任意パラメータに変更\n- <span class=\"mp-oas-code\">amount</span>スキーマの正規表現パターンを追加\n- 表記揺れを修正し、「返す」「戻す」「返却」を「返る」に統一\n\n### v1.5.1 - 2024-10-21\n- <span class=\"mp-oas-code\">MemberId</span>と<span class=\"mp-oas-code\">accountId</span>スキーマの正規表現パターンを修正\n- <span class=\"mp-oas-code\">VerificationId</span>、<span class=\"mp-oas-code\">csrfToken</span>、<span class=\"mp-oas-code\">OrderId</span>、<span class=\"mp-oas-code\">userId</span>、<span class=\"mp-oas-code\">jws</span>スキーマの正規表現パターンを改善\n- <span class=\"mp-oas-code\">useTds2</span>と<span class=\"mp-oas-code\">skipNotEnrolledCard</span>プロパティの説明を明確化\n- <span class=\"mp-oas-code\">ClientCardBinData</span>プロパティの説明にあるリンクを修正\n- スキーマをすべて展開するよう変更し、ページ上の検索機能を無効化\n\n### v1.5.0 - 2024-09-24\n- [本人確認](#tag/verify)APIを追加\n- [Pay払い 都度支払い（フロントエンド方式）](#tag/wallet/operation/walletFrontendCharge)APIを追加\n- 各APIのレスポンスパラメーター<span class=\"mp-oas-code\">OrderReference</span>のスキーマ定義を変更\n- [同時接続数の制限](#tag/concurrency)の説明を追加\n- [セキュリティ](#tag/security)のIPアドレス制限に関する説明を追加\n- [冪等処理](#tag/idempotence)の説明を改善\n- [APIの認証](#tag/authentication)のアクセストークン方式に関する説明を改善\n- リクエスト・レスポンスパラメーターの説明を改善\n- 表記揺れの修正、用語の統一\n\n### v1.4.0 - 2024-08-19\n- [クレカ払い 随時支払い](#tag/creditcard/operation/creditCharge)、[クレカ払い 有効性確認](#tag/creditcard/operation/creditVerifyCard)のリクエストにカード名義人<span class=\"mp-oas-code\">cardholderName</span>パラメーターを追加\n- [クレカ払い](#tag/creditcard)の各APIのレスポンスにカード名義人<span class=\"mp-oas-code\">cardholderName</span>パラメーターを追加\n- [パラメーターの設定](#tag/parameters)、[Webhook通知](#tag/webhook)の説明を改善\n- [クレカ払い](#tag/creditcard)の処理シーケンスを分かりやすいように用語を改善\n- 表記揺れの修正、用語の統一\n\n### v1.3.2 - 2024-07-30\n- 決済手段ごとの制約を各パラメータの説明に追記\n- <span class=\"mp-oas-code\">payer.nameAlphabet</span>の書式を修正\n- <span class=\"mp-oas-code\">order.clientField1</span>、<span class=\"mp-oas-code\">order.clientField2</span>、<span class=\"mp-oas-code\">order.clientField3</span>の最大長を修正\n- Pay払いの[都度支払い](#tag/wallet/operation/walletCharge)、[利用承諾](#tag/wallet/operation/walletAuthorizeAccount)のレスポンス<span class=\"mp-oas-code\">redirectInformation</span>にリダイレクトの時限を追記\n- [現金払い支払い完了通知](#tag/events/operation/cashWebhook)の説明を追記\n- [共通パラメーター表](#tag/common-parameters)の記載場所を変更\n- [共通パラメーター表](#tag/common-parameters)に一部パラメーターは切り捨てて連携する説明を追記\n- [変更履歴](#tag/changelog)のフォーマットを修正\n\n### v1.3.1 - 2024-06-10\n- Pay払いの[購入者情報取得](#tag/wallet/operation/walletGetCustomerData)のレスポンス<span class=\"mp-oas-code\">shippingInformation.line1</span>、<span class=\"mp-oas-code\">shippingInformation.line2</span>、<span class=\"mp-oas-code\">shippingInformation.line3</span>の項目名及びレスポンスサンプルを修正\n- テスト環境申し込みページのURLを変更\n\n### v1.3.0 - 2024-05-27\n- 分かりやすい表現、名称に変更\n- [プロトコルタイプ/モジュールタイプからの移行](#tag/migration)にカード登録に関する説明を追加\n- [HTTPステータスコード](#tag/httpstatuscode)の<span class=\"mp-oas-code\">409</span>と<span class=\"mp-oas-code\">503</span>に関する説明を追加、また<span class=\"mp-oas-code\">409</span>は各APIのresponsesに記載\n- テストカード番号の説明を追加\n- 3Dセキュア認証の必須パラメーターについて説明を追加\n- <span class=\"mp-oas-code\">cardNumber</span>の桁数を20→16に変更\n- 取引管理の[キャンセル](#tag/order/operation/orderCancel)APIのレスポンス<span class=\"mp-oas-code\">orderReference.status</span>に、<span class=\"mp-oas-code\">STOP</span>を追加\n- 会員管理の[認証情報削除](#tag/member/operation/memberDeleteItem)APIに、楽天ペイ(オンライン決済)V2利用不可の説明を追加\n- <span class=\"mp-oas-code\">orderId</span>に関する説明を追加\n\n### v1.2.3 - 2024-04-16\n- クレカ払いの[有効性確認](#tag/creditcard/operation/creditVerifyCard)、[カード登録](#tag/creditcard/operation/creditStoreCard)にカード番号重複チェック機能を追加\n- クレカ払いに[カード詳細情報取得](#tag/creditcard/operation/creditGetCardDetails)APIを追加\n- 取引管理の[照会](#tag/order/operation/orderInquiry)APIにオーダーIDパラメーターを追加\n- お問い合わせの多い事項について説明を追加\n\n### v1.2.2 - 2024-03-18\n- [HTTPステータスコード](#tag/httpstatuscode)の説明を追加\n- [Pay払い 都度支払い](#tag/wallet/operation/walletCharge)、[Pay払い 利用承諾](#tag/wallet/operation/walletAuthorizeAccount)、[現金払い 支払い番号発行](#tag/cash/operation/cashCharge)の支払い手続きエラーHTTPステータスコード誤りを修正\n- セキュリティスキーマ<span class=\"mp-oas-code\">パスワード方式</span>、<span class=\"mp-oas-code\">アクセストークン方式</span>を<span class=\"mp-oas-code\">Passward</span>、<span class=\"mp-oas-code\">AccessToken</span>に変更\n- numberやintegerだがmaxLengthを指定していたフィールド<span class=\"mp-oas-code\">order.items.quantity</span>、<span class=\"mp-oas-code\">Tds2Information.tds2Data.nbPurchaseAccount</span>、<span class=\"mp-oas-code\">Tds2Information.tds2Data.provisionAttemptsDay</span>、<span class=\"mp-oas-code\">Tds2Information.tds2Data.txnActivityDay</span>、<span class=\"mp-oas-code\">Tds2Information.tds2Data.txnActivityYear</span>、<span class=\"mp-oas-code\">Tds2Information.tds2Data.giftCardAmount</span>、<span class=\"mp-oas-code\">Tds2Information.tds2Data.giftCardCount</span>をmaximumに修正\n\n### v1.2.1 - 2024-01-30\n- <span class=\"mp-oas-code\">walletInformation.amazonPay</span>、<span class=\"mp-oas-code\">walletAuthorizationInformation.amazonPay</span>に<span class=\"mp-oas-code\">noteToBuyer</span>、<span class=\"mp-oas-code\">apbType</span>を追加\n- <span class=\"mp-oas-code\">walletOnfileInformation</span>に<span class=\"mp-oas-code\">amazonPay</span>を追加\n\n### v1.2.0 - 2023-12-20\n- 文言の修正\n- [APIの認証](#tag/authentication)にアクセストークン方式を追加、[アクセストークン](#tag/token)APIを追加\n- [クレカ払い](#tag/creditcard)のカード情報トークン化の説明追加\n- [Pay払い随時支払い](#tag/wallet/operation/walletOnfileCharge)にau PAY(ネット支払い)アプリ方式を追加\n- [現金払い](#tag/cash)の支払い期間(日)<span class=\"mp-oas-code\">paymentPeriod</span>パラメーターの機能拡張、支払い期限日時<span class=\"mp-oas-code\">cashInformation.cashOptions.paymentExpiryDateTime</span>パラメーターを追加\n- [金額変更](#tag/order/operation/orderUpdate)の対応表を修正\n- Pay払い[購入者情報取得](#tag/wallet/operation/walletGetCustomerData)APIのレスポンスパラメーターの説明追加\n- ページ内のリンクはブラウザの別タブを開かないよう変更\n\n### v1.1.2 - 2023-10-31\n- クレカ払い、Pay払い、現金払いに共通パラメーターの説明を追加\n\n### v1.1.1 - 2023-09-26\n- <span class=\"mp-oas-code\">order.items.description</span>の最大長を120⇒180byteに変更\n- <span class=\"mp-oas-code\">fraudDetectionInformation.fraudDetectionData.userId</span>の桁数を16→60に変更\n- エラーの情報の説明を修正\n\n### v1.1.0 - 2023-08-22\n- 文言の修正\n- クレカ払いに不正検知パラメーターを追加\n- 取引照会のレスポンスに<span class=\"mp-oas-code\">fraudDetectionResult</span>、<span class=\"mp-oas-code\">bankTransferPaymentInformation.depositAmount</span>、<span class=\"mp-oas-code\">bankTransferPaymentInformation.bankTransferCode</span>を追加\n- Pay払い利用承諾の<span class=\"mp-oas-code\">walletAuthorizationInformation</span>を修正\n- カード情報にブランド<span class=\"mp-oas-code\">brand</span>を追加\n- カード番号のマスク書式を修正\n- <span class=\"mp-oas-code\">order.items</span>に<span class=\"mp-oas-code\">description</span>,<span class=\"mp-oas-code\">productCode</span>を追加\n- <span class=\"mp-oas-code\">payer</span>に<span class=\"mp-oas-code\">gender</span>,<span class=\"mp-oas-code\">dateOfBirth</span>を追加\n- 現金払い支払い番号発行の<span class=\"mp-oas-code\">registerDisplay1~8</span>、<span class=\"mp-oas-code\">receiptDisplay1~10</span>の説明を追記\n\n### v1.0.2 - 2023-07-25\n- 文言の修正\n- プロトコルタイプ/モジュールタイプからの移行の注意点を追加\n- バージョン管理の説明を追加\n- オーダーID<span class=\"mp-oas-code\">orderId</span>の書式を修正\n- 現金払いの支払期限日数<span class=\"mp-oas-code\">paymentPeriod</span>、POSレジ表示欄<span class=\"mp-oas-code\">registerDisplay1~8</span>、明細表示欄<span class=\"mp-oas-code\">receiptDisplay1~10</span>の書式を修正\n- 金額変更の支払い要求タイプ<span class=\"mp-oas-code\">authorizationMode</span>からrequiredを削除、説明を追加\n- 「TLS通信の暗号スイート」メニュー名を「セキュリティ」に変更、説明を追加\n\n### v1.0.1 - 2023-06-06\n- 文言の修正\n- クレカ払いの支払い要求タイプ<span class=\"mp-oas-code\">authorizationMode</span>から簡易オーソリ<span class=\"mp-oas-code\">SAUTH</span>を削除\n- APIバージョンの説明を追加\n\n### v1.0.0 - 2023-05-30\n- 初版\n\n<br>\n<br>\n\n## ＡＰＩバージョン\n\n### 2023-06 - 2023-05-30\n- 初回リリース\n"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "token"
        ],
        "deprecated": false,
        "operationId": "token",
        "summary": "アクセストークン発行",
        "description": "アクセストークン方式の認証に利用するアクセストークンを発行するために呼び出すAPIです。  \n認証の詳細は[APIの認証](#tag/authentication)を参照ください。\n",
        "servers": [
          {
            "url": "https://oauth.mul-pay.jp",
            "description": "PGマルチペイメントサービス 認可サーバー 本番環境"
          },
          {
            "url": "https://stg.oauth.mul-pay.jp",
            "description": "PGマルチペイメントサービス 認可サーバー テスト環境"
          }
        ],
        "security": [
          {
            "Password": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              },
              "examples": {
                "tokenRequestExample": {
                  "$ref": "#/components/examples/tokenRequestExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "x-summary": "アクセストークン発行成功",
            "description": "アクセストークン発行が成功した場合のレスポンス\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "examples": {
                  "tokenResponseExample": {
                    "$ref": "#/components/examples/tokenResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "x-summary": "リクエストパラメーターエラー",
            "description": "パラメーターの誤りや該当取引のステータスが受付可能な状態でない等の理由により有効性確認リクエストを進められない場合のレスポンス  \nエラーの原因は、<span class=\"mp-oas-code\">detail</span>フィールドで確認できます。\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "title": "invalid_parameter",
                  "detail": "The parameter value is invalid.(grant_type)",
                  "instance": "/token"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/500Response"
          }
        }
      }
    },
    "/credit/charge": {
      "post": {
        "tags": [
          "creditcard"
        ],
        "deprecated": false,
        "operationId": "creditCharge",
        "summary": "都度支払い",
        "description": "カード情報を都度設定して支払う場合に呼び出すAPIです。  \nApple Pay、Google Payでのお支払いもこのAPIを利用します。  \n<span style=\"color: #d41f1c\">※ApplePayでは3Dセキュアおよび不正検知のご利用ができません。</span>\n<br>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerIdempotencyKey"
          }
        ],
        "requestBody": {
          "description": "カード情報の設定方法は以下のいずれかです。  \n1. トークン化して設定    \n    - MPクレカトークン  \n      当サービス標準のカード情報トークンです。  \n      詳細は[トークン決済v2 開発ガイド](https://static.mul-pay.jp/doc/card-token/)を参照ください。  \n\n    - Apple Payトークン  \n      Apple Payに対応した端末で取得したApple PayのPayment tokenをbase64エンコードした値です。  \n      詳細は[BT01_ApplePay開発ガイド](https://docs.mul-pay.jp/brandtoken/doc)<sup>※</sup>を参照ください。  \n      <small>※マルペイDocsの利用方法は[こちら](https://mp-faq.gmo-pg.com/s/article/F00579)</small>\n      \n    - Google Payトークン  \n      Google Pay APIで取得したPayment tokenをbase64エンコードした値です。  \n      当サービスが提供する<span class=\"mp-oas-code\">MpToken.js</span>を利用してトークンを取得することができます。  \n      詳細は[トークン決済v2 開発ガイド](https://static.mul-pay.jp/doc/card-token/)を参照ください。  \n      Google Payに関する詳細は[デベロッパー向けドキュメント](https://developers.google.com/pay/api)を参照ください。  \n\n2. 直接設定  \n[PCI DSS](https://ja.wikipedia.org/wiki/PCI_DSS)の認定を得ている加盟店様のみが利用できます。  \n本番環境で利用するためにはお申し込みが必要です。  \n\n3Dセキュア認証利用時には、以下のカード会員の情報を必ず設定してください。  \n未設定でもエラーにはなりませんが、変更になる可能性があります。  \n  - カード会員の名前  \n    - トークン化して設定  \n      MPクレカトークンの「カード名義人」が利用されます。\n    - 直接設定  \n      <span class=\"mp-oas-code\">creditInformation.card.cardholderName</span>が利用されます。  \n  - カード会員のメールアドレスまたは電話番号  \n    <span class=\"mp-oas-code\">payer</span>に設定した値が利用されます。  \n    詳細は[共通パラメーター対応表 - クレカ払い](#tag/common-parameters/クレカ払い)を参照ください。\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditChargeRequest"
              }
            }
          }
        },
        "callbacks": {
          "callbackTds2Charge": {
            "$ref": "#/components/callbacks/callbackTds2Charge"
          }
        },
        "responses": {
          "201": {
            "x-summary": "支払い成功",
            "description": "- 3Dセキュアを利用せず、支払いが成功した場合\n- 仕向先カード会社が3Dセキュア認証に未対応のために、認証スキップして支払いが成功した場合\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditChargeResponse"
                },
                "examples": {
                  "creditChargeResponseExample1": {
                    "summary": "仮売上",
                    "$ref": "#/components/examples/creditChargeResponseExample1"
                  },
                  "creditChargeResponseExample2": {
                    "summary": "即時売上",
                    "$ref": "#/components/examples/creditChargeResponseExample2"
                  }
                }
              }
            }
          },
          "202": {
            "x-summary": "3Dセキュアに進む",
            "description": "3Dセキュアを利用して認証処理に進む場合のレスポンス  \nリクエストパラメーターで自動オーソリが有効になっている場合、3Dセキュア認証後にオーソリをします。\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditChargeTds2Response"
                },
                "examples": {
                  "creditChargeTds2ResponseExample1": {
                    "summary": "3Dセキュア",
                    "$ref": "#/components/examples/creditChargeTds2ResponseExample1"
                  }
                }
              }
            }
          },
          "400": {
            "x-summary": "リクエストパラメーターエラー",
            "description": "パラメーターの誤りなどの理由により、支払いリクエストを進められない場合のレスポンス  \nエラーの原因と該当のパラメーター名は、<span class=\"mp-oas-code\">detail</span>フィールドで確認できます。\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "title": "invalid_parameter",
                  "detail": "The parameter value is invalid.(order.amount)",
                  "instance": "/credit/charge"
                }
              }
            }
          },
          "402": {
            "x-summary": "支払いエラー",
            "description": "オーソリ(信用照会)に進んだ後に、カード会社等の外部事業者から拒否された場合のレスポンス  \n詳細な理由は<span class=\"mp-oas-code\">detail</span>フィールドで確認できます。\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "example": {
                  "title": "card_declined",
[...]
